.titlebar {
	order: 0;
    flex: 0 1 40px;
    align-self: auto;
	background: var(--primary-bg-color);
	width: 100%;
	padding: 0;
	z-index: 99;
	font-weight: 200;
	-webkit-transition: all 200ms linear;
	-moz-transition: all 200ms linear;
	-o-transition: all 200ms linear;
	transition: all 200ms linear;
}

.titlebar.sidebarOpen {
	box-shadow: 202px 0 2px 1px #000;
}

.titlebar.sidebarOpen.editActive {
	box-shadow: none;
}

.titlebar.editActive {
	background: var(--secondary-fg-color);
}

.titlebar button {
	width: 40px;
	height: 40px;
	font-size: 19px;
	border: none;
	background-color: transparent;
	cursor: pointer;
	color: var(--primary-fg-color);
}

.titlebar.editActive button {
	color: var(--primary-bg-color);
}

.titlebar .sidebarToggleWidget {
	float: left;
	background-color: transparent;
	display: none;
}

.titlebar .sidebarToggleWidget.sidebarActive {
	background-color: var(--primary-bg-color);
}

.titlebar.editActive .sidebarToggleWidget.sidebarActive {
	background-color: #e0e3e6;
}

.titlebar .sidebarToggleWidget.unsavedChanges:after {
	content: "*";
	top: 4px;
	right: 10px;
	color: #FF9900;
	font-weight: bold;
	font-size: 20px;
	padding-right: 6px;
}

.titlebarViewMode {
	float: left;
	    display: none;
}

.titlebarViewMode.hidden {
	display: none;
}

.titlebar.editActive .titlebarViewMode.hidden {
	/*display: block;*/
	titlebarViewMode

}

 .titlebarViewMode button {
	float: left;
	position: relative;
	opacity: .7;
	titlebarViewMode
}

.titlebar .titlebarViewMode button[data-viewmode="video"] {
	margin-left: 20px;
}

.titlebar .titlebarViewMode button[data-viewmode="video"]:after {
	content: ">";
	position: absolute;
	top: 8px;
	left: -13px;
	color: var(--primary-fg-color);
	font-weight: normal;
	font-size: 13px;
}

.titlebar.editActive .titlebarViewMode button[data-viewmode="video"]:after {
	color: var(--primary-bg-color);
}

.titlebarViewMode button.unsavedChanges:before {
	content: "*";
	position: absolute;
	top: -4px;
	right: -5px;
	color: #FF9900;
	font-weight: bold;
	font-size: 20px;
}

.titlebarViewMode button:hover {
	opacity: 1;
}


.titlebarViewMode button.active {
	background-color: transparent;
	/*color: var(--primary-fg-color);*/
	opacity: 1;
	pointer-events: none;
}

.titlebar.editActive .titlebarViewMode button.active {
	opacity: 1;
	pointer-events: none;
}

.titlebar .hypervideoActionButtonContainer {
	position: absolute;
	top: 0px;
	left: 160px;
}

.titlebar .titlebarTitle {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	text-align: center;
	color: var(--primary-fg-color);
	line-height: 38px;
	z-index: -1;
}

.titlebar.editActive .titlebarTitle {
	color: var(--primary-bg-color);
}

.titlebar .titlebarActionButtonContainer, .titlebar .sharingWidget, .titlebar .logoutButton {
	float: right;
}

.titlebar .titlebarActionButtonContainer .newHypervideoButton, .titlebar .titlebarActionButtonContainer .manageResourcesButton, .titlebar .titlebarActionButtonContainer .startEditButton, .titlebar .titlebarActionButtonContainer .leaveEditModeButton, .titlebar .titlebarActionButtonContainer .userSettingsButton {
	float: left;
}

.newHypervideoDialog .message.error {
	position: absolute;
}

.newHypervideoDialog .uploadNewVideoResource {
	position: absolute;
	right: 0px;
	top: 6px;
}

.shareDialog input[type="text"], .shareDialog textarea {
	box-sizing: border-box;
    display: block;
    width: 100%;
    margin-bottom: 20px;
}