<link href='https://fonts.googleapis.com/css?family=Asap:400,400italic,700,700italic' rel='stylesheet' type='text/css'>

<table align="center" border="0" cellpadding="0" cellspacing="0" height="100%" id="bodyTable" style="border-collapse: collapse; mso-table-lspace: 0; mso-table-rspace: 0; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; background-color: #fff; height: 100%; margin: 0; padding: 0; width: 100%" width="100%;">
	<tr>
		<td align="center" id="bodyCell" style="mso-line-height-rule: exactly;-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; border-top: 0;height: 100%; margin: 0; padding: 0; width: 100%;" valign="top">
			<table border="0" cellpadding="0" cellspacing="0" class="templateContainer" style="border-collapse: collapse; mso-table-lspace: 0; mso-table-rspace: 0;  box-shadow: 8px 13px 44px 0px #000000; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; max-width: 600px; border: 0" width="100%">
				<tr>
					<td id="templatePreheader" style="mso-line-height-rule: exactly; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; background-color: #ffffff; border-top: 0; border-bottom: 1px solid #76aea169; padding-top: 16px; padding-bottom: 8px" valign="top">
						<table border="0" cellpadding="0" cellspacing="0" class="mcnTextBlock" style="border-collapse: collapse; mso-table-lspace: 0; mso-table-rspace: 0; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; min-width:100%;" width="100%">
							<tbody class="mcnTextBlockOuter">
								<tr>
									<td class="mcnTextBlockInner" style="mso-line-height-rule: exactly; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%" valign="top">
										<table align="left" border="0" cellpadding="0" cellspacing="0" class="mcnTextContentContainer" style="border-collapse: collapse; mso-table-lspace: 0; mso-table-rspace: 0; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; min-width:100%;" width="100%">
											<tbody>
												<tr>
													<td class="mcnTextContent" style='mso-line-height-rule: exactly; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; word-break: break-word; color: #2a2a2a; font-family: "Asap", Helvetica, sans-serif; font-size: 12px; line-height: 150%; text-align: center; padding-top:9px; padding-right: 18px; padding-bottom: 9px; padding-left: 18px;' valign="top">

														<img align="none" alt="Piquic" height="52" src="##WEBSITE_URL##/website-assets/images/logo.png" style="-ms-interpolation-mode: bicubic; border: 0; outline: none; text-decoration: none; height: auto; width: 200px;  margin: 0px;"  />
													</td>
												</tr>
											</tbody>
										</table>
									</td>
								</tr>
							</tbody>
						</table>
					</td>
				</tr>

				<tr>
					<td id="templateBody" style="mso-line-height-rule: exactly; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; background-color: #ffffff; border-top: 0; border-bottom: 0; padding-top: 0; padding-bottom: 20px" valign="top">

						<table border="0" cellpadding="0" cellspacing="0" class="mcnButtonBlock" style="border-collapse: collapse; mso-table-lspace: 0; mso-table-rspace: 0; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; min-width:100%;" width="100%">
							<tbody class="mcnButtonBlockOuter">
								<tr>
									<td align="center" class="mcnButtonBlockInner" style="mso-line-height-rule: exactly; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; padding-top:18px; padding-right:18px; padding-bottom:18px; padding-left:18px;" valign="top">

										<table border="0" cellpadding="0" cellspacing="0" class="mcnButtonBlock" style="border-collapse: collapse; mso-table-lspace: 0; mso-table-rspace: 0; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; min-width:100%;" width="100%">
											<tbody class="mcnButtonBlockOuter">
												<tr>
													<td align="center" class="mcnButtonBlockInner" style="mso-line-height-rule: exactly; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; padding-top:0; padding-right:18px; padding-bottom:18px; padding-left:18px;" valign="top">
														<table border="0" cellpadding="0" cellspacing="0" class="mcnButtonContentContainer" style="border-collapse: collapse; mso-table-lspace: 0; mso-table-rspace: 0; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; border-collapse: separate !important;border-radius: 48px;">
															<tbody>
																<tr>
																	<td align="center" class="mcnButtonContent" style="mso-line-height-rule: exactly; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; font-family: 'Asap', Helvetica, sans-serif; font-size: 16px; padding-top:24px; padding-right:48px; padding-bottom:24px; padding-left:48px;" valign="middle">

																		<p class="null" style='color: #2a2a2a; font-family: "Asap", Helvetica, sans-serif; font-size: 24px; font-style: normal; line-height: 125%; letter-spacing: 1px; text-align: center; display: block; margin: 0; padding: 0 0 40px 0'>
																			A new file is waiting for your<br>review in "<i>##PROJECT_NAME##</i>"
																		</p>

																		<!-- <div style="display:-webkit-flex !important; display:-ms-flexbox !important; display:flex !important; justify-content: space-around !important; flex-wrap: wrap !important; ">
																		##UPLOADED_IMAGES##
																	   </div> -->
																	   ##UPLOADED_IMAGES##
																		

																		<table border="0" cellpadding="0" cellspacing="0" class="mcnButtonBlock" style="border-collapse: collapse; mso-table-lspace: 0; mso-table-rspace: 0; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; min-width:60%; background-color: #5bad9a;" width="60%">
																			<tbody class="mcnButtonBlockOuter">

																				<tr>
																					<td align="center" class="mcnButtonContent" style="mso-line-height-rule: exactly; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; font-family: 'Asap', Helvetica, sans-serif; font-size: 16px; padding: 20px;" valign="middle">

																						<a class="mcnButton " href="##PROOFING_LINK##" style="mso-line-height-rule: exactly; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; display: block; text-decoration: none; letter-spacing: 1px; line-height: 100%; text-align: center; text-decoration: none; color: #ffffff; text-transform: uppercase;" target="_blank" title="Open Proofing">Open Proofing</a>
																					</td>

																				</tr>
																			</tbody>
																		</table>

																		<div style="text-align: left;  border: .5px solid #5bad9a69; margin: 30px 0 0 0; padding: 10px;">
																			<p class="null" style='color: #2a2a2a; font-family: "Asap", Helvetica, sans-serif; font-size: 21px; font-style: normal; line-height: 125%; letter-spacing: 1px; text-align: left; display: block; margin: 0; padding: 10px;'>
																				View all reviews on your dashboard
																			</p>

																			<a class="mcnButton " href="##DASHBOARD_LINK##" style="mso-line-height-rule: exactly; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; display: block; text-decoration: none; letter-spacing: 1px; line-height: 100%; text-align: center; text-decoration: none; color: #ffffff; text-transform: uppercase;" target="_blank" title="Go To Dashboard"><img align="none" alt="Review Waiting" src="##WEBSITE_URL##/website-assets/images/go-to-dashboard.jpg" style="-ms-interpolation-mode: bicubic; border: 0; outline: none; text-decoration: none; height: auto; width: 450px;"/></a>
																		</div>																	
																	</td>
																</tr>
															</tbody>
														</table>
													</td>
												</tr>
											</tbody>
										</table>
									</td>
								</tr>
							</tbody>
						</table>
					</td>
				</tr>

				<tr>
					<td id="templatePreheader" style="mso-line-height-rule: exactly; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; background-color: #ffffff; border-bottom: 0; border-top: 1px solid #76aea169; padding-top: 16px; padding-bottom: 8px" valign="top">
						<table border="0" cellpadding="0" cellspacing="0" class="mcnTextBlock" style="border-collapse: collapse; mso-table-lspace: 0; mso-table-rspace: 0; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; min-width:100%;" width="100%">
							<tbody class="mcnTextBlockOuter">
								<tr>
									
									<td class="mcnTextContent" style='mso-line-height-rule: exactly; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; word-break: break-word; color: #2a2a2a; font-family: "Asap", Helvetica, sans-serif; font-size: 12px; line-height: 150%; text-align: center; padding-top:2px; padding-bottom: 2px;' valign="top">

										<p class="null" style='color: #2a2a2a; font-family: "Asap", Helvetica, sans-serif; font-size: 12px; font-style: normal; line-height: 125%; letter-spacing: 1px; text-align: center; display: block; margin: 0; padding: 0'>

											Learn More About <a class="mcnButton " href="#" style="text-decoration: none; letter-spacing: 1px; line-height: 100%; text-align: center; color: #5bad9a; text-transform: uppercase;" target="_blank" title="##COPY_RIGHT##">##COPY_RIGHT##</a>
										</p>

										<p class="null" style='color: #2a2a2a; font-family: "Asap", Helvetica, sans-serif; font-size: 12px; font-style: normal; line-height: 125%; letter-spacing: 1px; text-align: center; display: block; margin: 0; padding: 10px 0;'>

											<a class="mcnButton " href="#" style="text-decoration: none; letter-spacing: 1px; line-height: 100%; text-align: center; color: #5bad9a; text-transform: uppercase;" target="_blank" title="About Piquic">About Piquic</a><span style="font-weight: bolder;"> &middot; </span><a class="mcnButton " href="#" style="text-decoration: none; letter-spacing: 1px; line-height: 100%; text-align: center; color: #5bad9a; text-transform: uppercase;" target="_blank" title="Help">Help</a><span style="font-weight: bolder;"> &middot; </span><a class="mcnButton " href="#" style="text-decoration: none; letter-spacing: 1px; line-height: 100%; text-align: center; color: #5bad9a; text-transform: uppercase;" target="_blank" title="Legal">Legal</a><span style="font-weight: bolder;"> &middot; </span><a class="mcnButton " href="#" style="text-decoration: none; letter-spacing: 1px; line-height: 100%; text-align: center; color: #5bad9a; text-transform: uppercase;" target="_blank" title="Report Spam">Report Spam</a>
										</p>
									</td>
								</tr>
							</tbody>
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>