<link href="https://fonts.googleapis.com/css?family=Asap:400,400italic,700,700italic" rel="stylesheet" type="text/css">

<table align="center" border="0" cellpadding="0" cellspacing="0" height="100%" id="bodyTable" style="border-collapse: collapse; mso-table-lspace: 0; mso-table-rspace: 0; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; background-color: #fff; height: 100%; margin: 0; padding: 0; width: 100%" width="100%;">
	<tr>
		<td align="center" id="bodyCell" style="mso-line-height-rule: exactly;-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; border-top: 0;height: 100%; margin: 0; padding: 0; width: 100%;" valign="top">
			<table border="0" cellpadding="0" cellspacing="0" class="templateContainer" style="border-collapse: collapse; mso-table-lspace: 0; mso-table-rspace: 0;  box-shadow: 8px 13px 44px 0px #000000; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; max-width: 600px; border: 0" width="100%">
				<tr>
					<td id="templatePreheader" style="mso-line-height-rule: exactly; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; background-color: #ffffff; border-top: 0; padding-top: 16px; padding-bottom: 8px" valign="top">
						<table border="0" cellpadding="0" cellspacing="0" class="mcnTextBlock" style="border-collapse: collapse; mso-table-lspace: 0; mso-table-rspace: 0; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; min-width:100%;" width="100%">
							<tbody class="mcnTextBlockOuter">
								<tr>
									<td class="mcnTextBlockInner" style="mso-line-height-rule: exactly; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%" valign="top">
										<table align="left" border="0" cellpadding="0" cellspacing="0" class="mcnTextContentContainer" style="border-collapse: collapse; mso-table-lspace: 0; mso-table-rspace: 0; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; min-width:100%;" width="100%">
											<tbody>
												<tr>
													<td class="mcnTextContent" style="mso-line-height-rule: exactly; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; word-break: break-word; color: #2a2a2a; font-family: \'Asap\', Helvetica, sans-serif; font-size: 12px; line-height: 150%; text-align: center; padding-top:9px; padding-right: 18px; padding-bottom: 9px; padding-left: 18px;" valign="top">

														<table border="0" cellpadding="0" cellspacing="0" class="mcnTextBlock" style="border-collapse: collapse; mso-table-lspace: 0; mso-table-rspace: 0; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; min-width:100%; background: url(../PiquicCollab/Emailer/HDFC_housing/HDFC_housing_00.png) no-repeat center; background-size: contain;" width="100%">
														<tr>
														<td colspan="3" class="mcnTextContent" style="mso-line-height-rule: exactly; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; word-break: break-word; color: #2a2a2a; font-size: 26px;" valign="top">
														<img src="../PiquicCollab/Emailer/HDFC_housing/HDFC_housing_001.png" style="-ms-interpolation-mode: bicubic; border: 0; outline: none; text-decoration: none; height: auto; width: 600px; margin: 0px;" alt="HDFC Partners with Marico to keep the workplace safe.">
														</td>
														</tr>
														<tr>
														<td class="mcnTextContent" style="mso-line-height-rule: exactly; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; word-break: break-word; color: #2a2a2a; font-size: 26px;" valign="top">
														<img src="../PiquicCollab/Emailer/HDFC_housing/HDFC_housing_002.png" style="-ms-interpolation-mode: bicubic; border: 0; outline: none; text-decoration: none; height: auto; width: 291px; margin: 0px;" alt="HDFC Partners with Marico to keep the workplace safe.">
														</td>
														<td class="mcnTextContent" style="mso-line-height-rule: exactly; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; word-break: break-word; color: #2a2a2a; font-size: 1px;" valign="top">
														<a class="mcnButton " href="https://forms.gle/t8b8d6eMnFPiZ1H96" style="mso-line-height-rule: exactly; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; display: block; text-decoration: none; letter-spacing: 1px; line-height: 100%; text-align: center; text-decoration: none; color: #ffffff; text-transform: uppercase;" target="_blank" title="Buy Now">
														<img src="../PiquicCollab/Emailer/HDFC_housing/HDFC_housing_03.png" style="-ms-interpolation-mode: bicubic; border: 0; outline: none; text-decoration: none; height: auto; width: 139px; margin: 0px;" alt="Buy Now">
														</a>
														</td>
														<td class="mcnTextContent" style="mso-line-height-rule: exactly; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; word-break: break-word; color: #2a2a2a; font-size: 26px;" valign="top">
														<img src="../PiquicCollab/Emailer/HDFC_housing/HDFC_housing_004.png" style="-ms-interpolation-mode: bicubic; border: 0; outline: none; text-decoration: none; height: auto; width: 169px; margin: 0px;" alt="HDFC Partners with Marico to keep the workplace safe.">
														</td>
														</tr>
														<tr>
														<td colspan="3" class="mcnTextContent" style="mso-line-height-rule: exactly; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; word-break: break-word; color: #2a2a2a; font-size: 26px;" valign="top">
														<img src="../PiquicCollab/Emailer/HDFC_housing/HDFC_housing_005.png" style="-ms-interpolation-mode: bicubic; border: 0; outline: none; text-decoration: none; height: auto; width: 600px; margin: 0px;" alt="HDFC Partners with Marico to keep the workplace safe.">
														</td>
														</tr>
														</table>
													</td>
												</tr>
											</tbody>
										</table>
									</td>
								</tr>
							</tbody>
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>