@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?7cb2hw');
  src:  url('../fonts/icomoon.eot?7cb2hw#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?7cb2hw') format('truetype'),
    url('../fonts/icomoon.woff?7cb2hw') format('woff'),
    url('../fonts/icomoon.svg?7cb2hw#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

 /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cocktail:before {
  content: "\e90d";
}
.icon-air-conditioner:before {
  content: "\e90c";
}
.icon-person:before {
  content: "\e900";
}
.icon-bed:before {
  content: "\e901";
}
.icon-bicycle:before {
  content: "\e902";
}
.icon-couple:before {
  content: "\e903";
}
.icon-group:before {
  content: "\e904";
}
.icon-no-smoking:before {
  content: "\e905";
}
.icon-spa:before {
  content: "\e906";
}
.icon-swimmer:before {
  content: "\e907";
}
.icon-television:before {
  content: "\e908";
}
.icon-three-users:before {
  content: "\e909";
}
.icon-weightlifting:before {
  content: "\e90a";
}
.icon-wifi:before {
  content: "\e90b";
}
