
a {
	text-decoration: none !important;
}

.text-piquic { color: #76aea1 !important; }
.bg-piquic { background-color: #76aea1 !important; }
.btn-piquic { color: #fff; background-color: #76aea1 !important; border-color: #76aea1 !important; }
.btn-outline-piquic { color: #76aea1 !important; background-color: transparent; background-image: none; border-color: #76aea1 !important; }
.btn-outline-piquic:hover { color: #fff !important; background-color: #76aea1 !important; border-color: #76aea1 !important; }

.page-item.active .page-link {
    background-color: #76aea1 !important;
    border-color: #76aea1 !important;
    color: #ffffff !important;
}

.page-link, .page-link:hover { color: #76aea1 !important; }

.full-w { margin-left: -30px !important; margin-right: -30px !important; }

.btn-cursor {
	cursor: pointer !important;
}

.border-dotted {
	border: 2px solid #dee2e6!important;
	border-style: dotted !important;
}

.navbar-light .navbar-nav .active>.nav-link {
	color: #76aea1 !important;
	border-bottom: 2px solid #76aea1 !important;
}

.login-img { width: 40px; height: 40px; border: 1px solid #76aea1; border-radius: 50px; }

.roundCheck::before { 
	height: 1.5rem !important; 
	width: 1.5rem !important;
	border: 1px solid #76aea1 !important;
	border-radius: 1rem !important;
	top: 0.25rem !important;
	left: -1.8rem !important;
}

.roundCheck::after { 
	height: 1.5rem !important; 
	width: 1.5rem !important;
	border-radius: 1rem !important;
	top: 0.25rem !important;
	left: -1.8rem !important;
}

.custom-control-input:checked~.roundCheck::before{
	background-color: #76aea1 !important;
	border-color: #76aea1 !important;
}

.p-auto {
	height: 100% !important;
}

.navSlct {
	border-color: transparent !important;
	background-color: transparent !important;
	background-image: linear-gradient(45deg, transparent 50%, white 50%), linear-gradient(135deg, white 50%, transparent 50%);
	background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
	background-size: 5px 5px, 5px 5px, 1px 1.5em;
	background-repeat: no-repeat;
}

.navSlct:focus {
	box-shadow: none !important;
}

.reqSlct {
	border: 1px solid #dc3545 !important;
	color: #dc3545 !important;
}

.custom-file-input{
	height: 22rem !important;
}
.custom-file-label {
	height: 22rem !important;
	padding: 8rem 6rem !important;
	background-color: transparent;
	border: 2px dashed #ced4da !important;
}

.custom-file-label::after {
	border: none !important;
	color: transparent;
	background-color: transparent;
	content: '';
}

.scroll-box { max-height: 36rem; overflow-y: scroll; overflow-x: hidden; }
.scroll-box::-webkit-scrollbar { width: .4em; } 
.scroll-box::-webkit-scrollbar-track { -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0); background-clip:content-box;  }
.scroll-box::-webkit-scrollbar-thumb { background-color: #76aea1; border-radius:.7em; width:5px; }

/* Style.php */

.thumb_scroll { max-height: 36rem; overflow-y: scroll; overflow-x: hidden; }
.thumb_scroll::-webkit-scrollbar { width: 0em; } 
.thumb_scroll::-webkit-scrollbar-track { -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0); background-clip:content-box;  }
.thumb_scroll::-webkit-scrollbar-thumb { background-color: #76aea1; border-radius:.7em; width:0px; }

#style .card {
	border: none !important;
}

.co-top { width: 15rem; margin: -3.5rem 0 0 -4.5rem; }
.co-btm { width: 15rem; margin: -8.5rem 0 0 -4.5rem; }
.co-drs { width: 15rem; margin: -5rem 0 0 -7.5rem; }

.list-group-item {
	border: none !important;
	padding: .25rem 1rem !important;
}

/*.iconimg {
	max-width: 18%;
	position: absolute;
	z-index: 2000;
	top: 2px;
	right: 2px;
}*/

.list-group-item .col-9 {
	padding: 0px !important;
}

.list-group-item .col-3 {
	padding-right: 4px !important;
	padding-left: 4px !important;
}

#bg, #shdw, #pose, #head, #top, #bottom, #dress, #access, #foot { position: absolute; }

#bg { z-index: 995; }
#shdw { z-index: 996; }
#pose { z-index: 997; }
#top { z-index: 1000; }
#bottom { z-index: 999; }
#dress { z-index: 1000; }
#access { z-index: 1005; }
#foot { z-index: 998; }

#accbr, #accer, #accnc, #accrn { position: absolute; }

#accbr { z-index: 1001; }
#accer { z-index: 1002; }
#accnc { z-index: 1003; }
#accrn { z-index: 1004; }

@media (min-width: 1024px) {
	.accbg { width: 5rem; height: 6rem; right: .9rem; background-repeat: no-repeat !important; background-position: top right !important; background-size: 17.8rem !important; }
}
@media (min-width: 768px) and (max-width: 1023px) {
	.accbg { width: 4rem; height: 6rem; right: .9rem; background-repeat: no-repeat !important; background-position: top right !important; background-size: 11rem !important; }
}

#select-style .nav-tabs .nav-link {
	border: 2px solid transparent !important;
	color: #76aea1 !important;
}

#select-style .nav-tabs .nav-link.disabled {
	color: #acacac !important;
}

#select-style .nav-tabs .nav-item.show .nav-link, #select-style .nav-tabs .nav-link.active {
	border-color: #ffffff #ffffff #76aea1 !important;
}

#do-make-up .nav-tabs .nav-link{
	border: 2px solid transparent !important;
	color: #76aea1 !important;
	font-weight: 500;
}

#do-make-up .nav-tabs .nav-item.show .nav-link, #do-make-up .nav-tabs .nav-link.active {
	/*border-color: #76aea1 #ffffff #ffffff  !important;*/
	background-color: #76aea133 !important;
}

#nav-tabContent .c-box {
	position: absolute;
	z-index: 999;
	top: -19px;
	width: 100%;
	margin: 18px 3px
}

#nav-tabContent .custom-control-label::before, #nav-tabContent .custom-control-label::after { 
    height: 1.3rem !important; 
    width: 1.3rem !important;
    border: 1px solid #76aea1;
    border-radius: 50px;
}