.sidebar {
	position: absolute;
	left: -164px;
	top: 0px;
	width: 164px;
	/*height: 100%;*/
	height: 6%;
	background-color: var(--primary-bg-color);
	color: #cececb;
	font-weight: 100;
	/*z-index: 2;*/
	z-index: 100;
	/*box-shadow: 0 0 2px 1px #000;*/
	-webkit-transition: all 200ms linear; /* Firefox */
	-moz-transition: all 200ms linear; /* WebKit */
	-o-transition: all 200ms linear; /* Opera */
	transition: all 200ms linear; /* Standard */
}
.forkButton
{
	display: none;
}

.sidebar.open {
	box-shadow: 0 0 2px 1px var(--primary-fg-color);
	left: 0px;
}

.sidebar.editActive {
	background-color: var(--secondary-fg-color);
	color: var(--primary-bg-color);
	box-shadow: none;
	/*border-right: 1px solid var(--secondary-bg-color);*/
}

.viewmodeControls button.editMode {
	display: block;
	position: relative;
	width: 100%;
	padding: 10px 6px 10px 6px;
	background-color: transparent;
	border-top: 1px solid transparent;
	border-left: none;
	border-right: none;
	border-bottom: 1px solid transparent;
	color: var(--primary-bg-color);
	opacity: .7;
}

.sidebarContainer .viewmodeControls button.editMode  {
	/*display: none;*/
}

.sidebarContainer .viewmodeControls button.editMode.inEditMode  {
	/*display: block;*/
	display: none;
}

.sidebarContainer .viewmodeControls button.editMode.disabled  {
	pointer-events: none;
	opacity: .4;
}

.sidebarContainer .viewmodeControls button.editMode.unsavedChanges:before {
	content: "*";
	position: absolute;
	top: 6px;
	right: 10px;
	color: #FF9900;
	font-weight: bold;
	font-size: 20px;
}

.viewmodeControls button.editMode:hover {
	opacity: 1;
}

.viewmodeControls button.editMode.active {
	background-color: var(--primary-fg-color);
	color: var(--primary-bg-color);
	border-color: var(--secondary-bg-color);
	opacity: 1;
	pointer-events: none;
}

.viewmodeControls button.editMode.active:after {
	content: "";
	position: absolute;
	top: 0px;
	right: -2px;
	width: 2px;
	height: 100%;
	background: var(--primary-fg-color);
}

.viewmodeControls button.editMode [class^="icon-"]::before, .viewmodeControls button.editMode [class*=" icon-"]::before {
	font-size: 19px;
	margin-right: 7px;
	width: 26px;
}

.sidebarContainer {
	display: block;
	/*margin-top: 40px;*/
	margin-top: 0px;

}

.sidebarContainer > div {
	display: none;
}

.sidebarContainer > div.active {
	display: block;
}

.sidebarContainer .viewmodeInfo {
	padding: 10px;
	overflow: auto;
	display: none;
}

.sidebarContainer .viewmodeInfo a {
	color: var(--primary-fg-color);
}

.sidebar.editActive .sidebarContainer .viewmodeInfo a {
	color: var(--primary-bg-color);
}

.sidebarContainer .descriptionLabel {
	margin-top: 10px;
	color: var(--secondary-fg-color);
}

.sidebar.editActive .sidebarContainer .descriptionLabel {
	color: var(--secondary-bg-color);
}

.sidebarContainer .descriptionDates {
	display: none;
}

.sidebar.editActive .sidebarContainer .descriptionDates {
	/*display: block;*/
}

.sidebarContainer .viewmodeControls {
	position: relative;
	width: 100%;
}

.sidebarContainer .viewmodeControls .viewModeActionButtonContainer {
	/*padding: 10px;*/
	padding: 0 10px;
	/*border-bottom: 1px solid #a8a8a8;*/
}

.sidebarContainer .viewmodeControls .viewModeActionButtonContainer button, .hypervideoDeleteButton {
	float: left;
	height: 40px;
    margin-right: 8px;
    width: 40px;
	border: 2px solid #F8F8F8;
	border-radius: 50%;
	background-color: transparent;
}

.sidebarContainer .viewmodeControls .viewModeActionButtonContainer button:hover, .hypervideoDeleteButton:hover {
	background-color: var(--primary-bg-color);
}

.sidebar.editActive .sidebarContainer .viewmodeControls .viewModeActionButtonContainer button, .hypervideoDeleteButton {
	border-color: var(--primary-bg-color);
}

.sidebarContainer .viewmodeControls .viewModeActionButtonContainer button.unsavedChanges {
	border-color: #FF9900 !important;
	background-color: rgba(255, 153, 0, .15);
	color: var(--primary-bg-color);
}

.sidebarContainer .viewmodeControls .viewModeActionButtonContainer button [class^="icon-"]::before, .sidebarContainer .viewmodeControls .viewModeActionButtonContainer button [class*=" icon-"]::before {
	font-size: 20px;
	margin-left: 2px;
	margin-top: 2px;
}

.sidebarContainer .viewmodeControls .exportButton {
	display: none;
}

.sidebarContainer .hypervideoDeleteButton {
	position: absolute;
	bottom: 10px;
	left: 10px;
	display: none;
}

.sidebarContainer .hypervideoDeleteButton .icon-trash::before {
	font-size: 20px;
	margin-left: 2px;
	margin-top: 2px;
}