.mainContainer {
	order: 1;
    flex: 1 1 auto;
    align-self: auto;
	/*background-color: var(--primary-bg-color);*/
    margin-left: 0;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
	-webkit-transition: all 200ms linear; /* Firefox */
	-moz-transition: all 200ms linear; /* WebKit */
	-o-transition: all 200ms linear; /* Opera */
	transition: all 200ms linear; /* Standard */
	color: var(--primary-fg-color);
}


.mainContainer.sidebarOpen {
	/*width: calc(100% - 164px);
	margin-left: 164px;*/
}

.mainContainer.inFullscreen:not(.editActive) {
	width: 100%;
	top: 0px;
}

.mainContainer.editActive {
	/*border-top: 1px solid rgba(73, 76, 81, .6);*/
	color: var(--primary-bg-color);
}


