.bg-cover {
	background-color: #00000080;
	position: fixed;
	height: 100vh;
	width: 100%;
	background-size: cover;
	z-index: 3000;
	display: table;
	overflow: hidden;
	top: 0;
}

.bg-cover-prog {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	color: #b3d7ff;
}

.prog-ress {
	width: 15rem;
	height: 15rem;
	background: none;
	position: relative;
}

.prog-ress::after {
	content: "";
	width: 100%;
	height: 100%;
	border-radius: 50%;
	border: 2rem solid #76aea14d !important;
	position: absolute;
	top: 0;
	left: 0;
}

.prog-ress>span {
	width: 50%;
	height: 100%;
	overflow: hidden;
	position: absolute;
	top: 0;
	z-index: 1;
}

.prog-ress .prog-ress-left {
	left: 0;
}

.prog-ress .prog-ress-bar {
	width: 100%;
	height: 100%;
	background: none;
	border-width: 2rem !important;
	border-style: solid !important;
	position: absolute;
	top: 0;
}

.prog-ress .prog-ress-left .prog-ress-bar {
	left: 100%;
	border-top-right-radius: 7.813rem;
	border-bottom-right-radius: 7.813rem;
	border-left: 0 !important;
	-webkit-transform-origin: center left;
	transform-origin: center left;
}

.prog-ress .prog-ress-right {
	right: 0;
}

.prog-ress .prog-ress-right .prog-ress-bar {
	left: -100%;
	border-top-left-radius: 7.813rem;
	border-bottom-left-radius: 7.813rem;
	border-right: 0 !important;
	-webkit-transform-origin: center right;
	transform-origin: center right;
}

.prog-ress .prog-ress-value {
	position: absolute;
	top: 0;
	left: 0;
}
