body { overflow-x: hidden; }

a {
  text-decoration: none !important;
  cursor: pointer;
}

div[data-toggle = "modal"], .cur_sor {
  cursor: pointer;
}

/*---------WeCreate Themed Class---------*/

.text-wc { color: #76aea1 !important; }
.bg-wc { background-color: #76aea140 !important; }
.bg-wc-light { background-color: #76aea14d !important; }
.btn-wc { color: #fff; background-color: #76aea1 !important; border-color: #76aea1 !important; }
.btn-wc:hover { color: #fff; background-color: #76aea1 !important; border-color: #76aea1 !important; }
.btn-outline-wc { color: #76aea1 !important; background-color: transparent; background-image: none; border-color: #76aea1 !important; }
.btn-outline-wc:hover { color: #fff !important; background-color: #76aea1 !important; border-color: #76aea1 !important; }
.border-wc { border: .1rem solid #76aea1 !important; }
.border-2x { border: .2rem solid #dee2e6 !important; }
.badge-wc { color: #ffffff; background-color: #76aea1 !important; }

.dd-wc { transform: translate3d(-35px, 54px, 0px) !important; }

.img-div-lg {
  height: 50rem;
    background-color: #000;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.h-div {
    display: flex;
    justify-content: center;
}

.v-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.img-div {
  height: 14rem;
    background-color: #000;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    display: table;
    text-align: center;
}
.vid-div {
  display: table-cell;
  vertical-align: middle;
  background-color: #acacac80;
}

.icon-lg { font-size: 3rem !important; }
.icon-md { font-size: 1.6rem !important; }
.icon-sm { font-size: 1.3rem !important; }

.bullet { font-size: .6rem !important; }

.form-control:focus {
    border-color: #76aea1 !important;
    box-shadow: 0 0 0 0.2rem #76aea140 !important;
}

.custom-control-input:checked~.custom-control-label::before{
    background-color: #76aea1 !important;
    border-color: #76aea1 !important;
}

.custom-select:focus {
    border-color: #76aea1 !important;
    outline: 0;
    box-shadow: 0 0 0 0.2rem #76aea138 !important;
}

.custom-select:focus > option:checked { box-shadow: 0 0 10px 100px #76aea1 inset !important; }

.roundCheck::before { 
  height: 1.5rem !important; 
  width: 1.5rem !important;
  border: 1px solid #76aea1 !important;
  border-radius: 1rem !important;
  top: 0.25rem !important;
  left: -1.8rem !important;
}

.roundCheck::after { 
  height: 1.5rem !important; 
  width: 1.5rem !important;
  border-radius: 1rem !important;
  top: 0.25rem !important;
  left: -1.8rem !important;
}

.custom-switch .chkToggle::before {
  top: 1rem !important;
  left: -3rem !important;
  width: 2.75rem !important;
  height: 1.5rem !important;
  border-radius: .8rem !important;
}

.custom-switch .chkToggle::after {
  top: calc(1.15rem + 2px) !important;
  left: calc(-2.9rem + 2px) !important;
  width: calc(1.25rem - 4px) !important;
  height: calc(1.25rem - 4px) !important;
  background-color: #76aea1 !important;
  border-radius: 0.8rem !important;
}

.custom-control-input:checked~.roundCheck::before, .custom-control-input:checked~.chkToggle::before {
  background-color: #76aea1 !important;
  border-color: #76aea1 !important;
}

.custom-switch .custom-control-input:checked~.chkToggle::after {
  background-color: #fff !important;
   -webkit-transform: translateX(.75rem) !important;
   transform: translateX(1.25rem) !important;
}

#loader {
  background-color: #00000080;      
  position: fixed;
  height: 100vh;
  width: 100%;
  background-size: cover;
  z-index: 1111;
  display: table;
  overflow: hidden;
  top: 0;
}

.icon {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-size: 8rem;
  color: #76aea1;
}

.usr-ico {
  background: #76aea1;
    color: #ffffff;
    padding: .7rem .8rem;
    border-radius: 50%;
    font-weight: 500;
}

.sts-ico-s {
  background: #76aea1;
    color: #76aea1;
    padding: .4rem .5rem;
    border-radius: 50%;
    font-weight: 400;
}

.sts-ico-f {
  background: #dc3545;
    color: #dc3545;
    padding: .4rem .5rem;
    border-radius: 50%;
    font-weight: 400;
}

div.border .b-text {
  top: -1.0rem;
  left: -0.5rem;
    position: relative;
}

/*.modal*/
.modal { max-height: 100vh; overflow-y: scroll; overflow-x: hidden; }
.modal::-webkit-scrollbar { width: .0em; } 
.modal::-webkit-scrollbar-track { -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0); background-clip:content-box;  }
.modal::-webkit-scrollbar-thumb { background-color: #76aea1; border-radius:.7em; width:5px; }

.customfileinput{
  height: 20rem !important;
}

.customfilelabel {
  height: 20rem !important;
  padding: 8rem 6rem !important;
  background-color: transparent;
  border: 2px dashed #ced4da !important;
}

.customfilelabel::after {
  border: none !important;
  color: transparent;
  background-color: transparent;
  content: '';
}

 #imgtag
  {
    position: relative;
    min-width: 300px;
    min-height: 300px;
    float: none;
    border: 3px solid #FFF;
    cursor: crosshair;
    text-align: center;
  }
  .tagview
  {
    border: 5px solid #F10303;
    width: 20px;
    height: 20px;
    position: absolute;
    /*display:none;*/
   /* opacity: 0;*/
    color: #FFFFFF;
    text-align: center;
  }
  .square
  {
    display: block;
    height: 0px;
  }
  .person
  {
    background: #282828;
    border-top: 1px solid #F10303;
  }
  #tagit
  {
    position: absolute;
    top: 0;
    left: 0;

  }
  #tagit .box
  {
    border: 5px solid #F10303;
    width: 20px;
    height: 20px;
    float: left;
  }

  #tagit DIV.text
  {
    margin-bottom: 5px;
  }
  #tagit INPUT[type=text]
  {
    margin-bottom: 5px;
  }
  #tagit #tagname
  {
    width: 110px;
}
  .tagtitle
  {
    font-size: 14px;
    text-align: center;
    width: 100%;
    float: left;
  }
  .editor {
    line-height: normal;
    padding:0px 0px 2px 0px;
    background-color:#f2f2f2;
    color:#000;
    opacity:0.97;
    border:1px solid #ccc;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    -moz-box-shadow:0px 5px 15px #111;  
    -webkit-box-shadow:0px 5px 15px #111;  
    box-shadow:0px 5px 15px #111;  
  }

  .editor-text {
    border-width:0px 0px 1px 0px;
    border-style:solid;
    border-color:#ccc;
    line-height: normal;
    background-color:#fff;
    width:240px;
    height:50px;
    outline:none;

    font-size:11px;
    padding:4px;
    margin:0px;  
    color:#000;
    text-shadow:none;
    overflow-y:auto;
    display:block;
  }


  .editor-button {
  
    line-height: normal;
    display:inline-block;
    text-align:center;
    text-decoration:none;
    font-size:10px; 
    border:1px solid #777;
    color:#ddd;
    padding:3px 8px;
    margin:8px -19px 10px 36px;
    cursor:pointer;
    cursor:hand;
    background:-webkit-gradient(linear, left top, left bottom, from(#888), to(#555));
    background:-moz-linear-gradient(top,  #888,  #555);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#888888', endColorstr='#555555');
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    -khtml-border-radius:2px;
    border-radius:2px;
  }

  .editor-button:hover {
    background:#999;
  }

  .editor-field {
    border-bottom:1px solid #ccc;
    margin:0px;
    background-color:#fff;
    padding:3px;

    font-size:12px; 
  }
  .hint-msg {
    background-color:rgba(0,0,0,0.6);
    margin:4px;
    padding:8px 15px 8px 30px;

    line-height:normal;
    font-size:12px;
    color:#fff;
    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    -khtml-border-radius:4px;
  }

  .hint-icon {
    position:absolute;
    top:6px;
    left:5px;
    background:url(feather_icon.png);
    background-repeat:no-repeat;
    width:19px;
    height:22px;
    margin:2px 4px 0 6px;
  }

  .opacity-fade {
    -moz-transition-property:opacity;
    -moz-transition-duration:.5s;
    -moz-transition-delay:0;
    -webkit-transition-property:opacity;
    -webkit-transition-duration:.5s;
    -webkit-transition-delay:0;
    -o-transition-property:opacity;
    -o-transition-duration:.5s;
    -o-transition-delay:0;
    transition-property:opacity;
    transition-duration:.5s;
    transition-delay:0;
  }

  .item-focus {
    opacity:1.0;
  }

  .item-unfocus {
    opacity:0.4;
  }

  .popup {
  /*  position:absolute;*/
  opacity: 0;
    top:0;
    left:0;
    width:220px;
    min-height:26px;
       margin-top: 29px;
    background-color:#383838;
    border:1px solid #000;
    outline:none;
    padding:5px;
    -moz-transition-property:opacity;
    -moz-transition-duration:.5s;
    -moz-transition-delay:0;
    -ms-transition-property:opacity;
    -ms-transition-duration:.5s;
    -ms-transition-delay:0;
    -webkit-transition-property:opacity;
    -webkit-transition-duration:.5s;
    -webkit-transition-delay:0;
    -o-transition-property:opacity;
    -o-transition-duration:.5s;
    -o-transition-delay:0;
    transition-property:opacity;
    transition-duration:.5s;
    transition-delay:0;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    -khtml-border-radius:8px;
    border-radius:8px;
    -o-box-shadow:0 5px 5px rgba(0,0,0,0.7),inset 0 1px 1px rgba(255,255,255,0.25);
    -ms-box-shadow:0 5px 5px rgba(0,0,0,0.7),inset 0 1px 1px rgba(255,255,255,0.25);
    -moz-box-shadow:0 5px 5px rgba(0,0,0,0.7),inset 0 1px 1px rgba(255,255,255,0.25);
    -webkit-box-shadow:0 5px 5px rgba(0,0,0,0.7),inset 0 1px 1px rgba(255,255,255,0.25);
    box-shadow:0 5px 53px rgba(0,0,0,0.7),inset 0 1px 1px rgba(255,255,255,0.25);
  }



 .editor:after {
    content:url(../images/annotation-icon/Indicator.png);
    position:absolute;
    left:15px;
    top:-14px;
    height:18px;
    width:19px;
    display:block;
  }

  .popup:after {
    content:url(../images/annotation-icon/Indicator.png);
    position:absolute;
    right: 64px;
    top: 96px;
    height:18px;
    width:19px;
    display:block;  
  }

  .popup-field {
    margin:0px;
    padding:6px;
 
    font-size:12px;
  }

  .editor {
    position:absolute;

    margin-top:20px;
    background-color:#383838;
    color:#F2F2F2;
    border:1px solid #000;
    border-radius:8px;
    -o-border-radius:8px;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    -khtml-border-radius:8px;
    -o-box-shadow:0 5px 5px rgba(0,0,0,0.7),inset 0 1px 1px rgba(255,255,255,0.25);
    -ms-box-shadow:0 5px 5px rgba(0,0,0,0.7),inset 0 1px 1px rgba(255,255,255,0.25);
    -moz-box-shadow:0 5px 5px rgba(0,0,0,0.7),inset 0 1px 1px rgba(255,255,255,0.25);
    -webkit-box-shadow:0 5px 5px rgba(0,0,0,0.7),inset 0 1px 1px rgba(255,255,255,0.25);
    box-shadow:0 5px 53px rgba(0,0,0,0.7),inset 0 1px 1px rgba(255,255,255,0.25);
    z-index:2;
  }


  .editor-text {
    border-bottom:1px solid gray;
    background-color:#383838;
    line-height:150%;
    margin:10px 0px 4px 0px;
    padding:0px 10px;
    min-height:50px;
    width:100%;
    min-width:200px;
    outline:none;
 
    font-weight:400;
    font-size:12px;
    color:#eee;
    text-shadow:none;
    overflow-y:auto;
    display:block;

  }

  .editor-text a:hover {
    color:#eee;
    background-color:transparent;
  }

  .editor-button {
    float:right;
    line-height:normal;
    display:inline-block;
    text-align:center;
    text-decoration:none;

    font-size:.625em;
    border:1px solid #000;
    color:#f2f2f2;
    padding-top:5px;
    padding-bottom:5px;
    margin:7px 2px 10px 0px;
    cursor:pointer;
    width:60px;
    -moz-box-shadow:inset 0 1px 1px rgba(255,255,255,0.25),0 1px 1px rgba(255,255,255,0.25);
    -webkit-box-shadow:inset 0 1px 1px rgba(255,255,255,0.25),0 1px 1px rgba(255,255,255,0.25);
    box-shadow:inset 0 1px 1px rgba(255,255,255,0.25),0 1px 1px rgba(255,255,255,0.25);
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    -khtml-border-radius:3px;
    border-radius:3px;
    opacity:1;
  }


  .editor-button:hover {
    color:rgba(242,2423,242,1);
    text-shadow:0 0 6px rgba(242,242,242,0.6);
    -o-text-shadow:0 0 6px rgba(242,242,242,0.6);
    -moz-text-shadow:0 0 6px rgba(242,242,242,0.6);
    -webkit-text-shadow:0 0 6px rgba(242,242,242,0.6);
  }

  .editor-button:active {
    -moz-box-shadow:inset 0 3px 3px rgba(0,0,0,0.7),0 1px 1px rgba(255,255,255,0.25);
    -webkit-box-shadow:inset 0 3px 3px rgba(0,0,0,0.7),0 1px 1px rgba(255,255,255,0.25);
    box-shadow:inset 0 3px 3px rgba(0,0,0,0.7),0 1px 1px rgba(255,255,255,0.25);
  }

  .editor-field {
    margin:0px;
    padding:6px 0px;
  
    font-size:12px; 
  }

  /** OpenLayers module **/
  .ul-boxmarker-outer {
    border:1px solid #000;
  }

  .ul-boxmarker-inner {
    border:1px solid #fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
  }

  .ul-hint {
    line-height: normal;
  
    font-size:16px;
    color:#fff;
    background-color:rgba(0,0,0,0.7);
    margin:0px;
    padding:9px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
  }