/** { font-size: small; }*/

.frametrail-body.editActive {
    height: 100% !important;
}
.titlebar.sidebarOpen.editActive, .sidebar.editActive {
    display: none !important;
}

.hypervideoContainer #infoAreaRightEditDelete, .hypervideoContainer .infoAreaRight, .hypervideoContainer .infoAreaRight .editPropertiesContainer {
    flex: 0 0 320px !important;
    min-width: 320px !important;
}

.hypervideoContainer .videoContainer .hypervideo {
    position: initial !important;
    height: 100% !important;
    margin-left: 0 !important;
    margin-top: 0 !important;
}


.overlayContainer
{
    z-index:1  !important;
    position: absolute;
}
.overlayElement
{
    position:absolute  !important;
    z-index:99999  !important;
}

@media only screen and (min-width: 50px) and (max-width: 450px) {
    .annot_box{ 
        height: 12rem !important; 
        overflow: hidden scroll !important; 
    }
}

@media only screen and (min-width: 451px) and (max-width: 2020px) {
    .annot_box{ height: 20rem !important; overflow: hidden scroll !important; }
}

/*.annot_box*/
.annot_box::-webkit-scrollbar { width: .5em; height: 1em; background-color: #76aea11a; border: .05em solid #76aea14a; } 
.annot_box::-webkit-scrollbar-track { -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0); background-clip:content-box;  }
.annot_box::-webkit-scrollbar-thumb { background-color: #76aea1; border-radius:.7em; width:.5em; }

.hypervideoContainer .videoContainer .hypervideo video.video {
    width: 85% !important;
    height: auto !important;
}

.playerContainer {
    height: auto !important;
    margin: 10px 0 !important;
}

.editingOptions .overlayEditingTabs #CustomOverlay {
    overflow: unset !important;
    height: auto !important;
    padding: 0 !important;
}


.hypervideoContainer .infoAreaRight .editPropertiesContainer {
    position: relative !important;
}

.hypervideoContainer .infoAreaSaveDeleteEdit {
    height: auto;
    width: 323px !important;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    background-color: var(--secondary-fg-color);
    border-right: .2rem solid #000;
}

.editingOptions {
    flex-basis: 132px !important;
    margin: 0.5rem !important;
    order: 0 !important;
}

.hypervideoContainer .infoAreaRight {
    height: 29rem;
}

.editingOptions .resourceThumb[data-type="text"] {
    height: 3rem !important;
}

.hypervideoContainer .infoAreaRight .editPropertiesContainer {
    border: none !important;
}

.editPropertiesContainer .timeControls {
    overflow: visible !important;
}

.editPropertiesContainer .propertiesTypeIcon {
    height: 52px !important; 
    width: 48px !important;
}

.btn-group {
    margin-top: .1rem !important;
}

.btn-group .btn {
    padding: .1rem .3rem .1rem .1rem !important;
}

b.caret {
    display: none !important;
}





/*********************************By Poulami*******************************************/
#OverlayOptions
{
    overflow: hidden !important;
}
.visualEditorWrapper iframe
{
    height: 76% !important;
    width: 92% !important;
}

.editPropertiesContainer .overlayOptionsWrapper {
     height: calc(90% - 140px)!important;
}

.editPropertiesContainer .timeControls {
    display: none !important;
}

.editAnnotationContainer
{
    max-height: 380px;
}

/*.editAnnotationContainer*/
.editAnnotationContainer { overflow-y: scroll; overflow-x: hidden; padding-right: .5em; }
.editAnnotationContainer::-webkit-scrollbar { width: .1em; } 
.editAnnotationContainer::-webkit-scrollbar-track { -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0); background-clip:content-box;  }
.editAnnotationContainer::-webkit-scrollbar-thumb { background-color: #76aea1; border-radius:.7em; width:5px; }

.delete-text-right
{
       text-align: right!important;
    float: right;
    position: relative;
    bottom: 0px;
    /*border: 2px solid #000;*/
    max-width: 15px;
    cursor: pointer;
}
.leaveEditModeButton
{
     display: none !important;
}
.titlebar
{
     display: none !important;
}

.btn-outline-danger:hover {
    color: #fff !important;
    background-color: #dc3545 !important;
    border-color: #dc3545 !important;
}

.overlayContainer .overlayElement {
    /*box-shadow: 0 0 1px 2px #f8f8f8 !important;*/
    background-color: #ffffff40 !important;
    /*opacity: 0.5;*/
    word-break: break-word !important;
}

.overlayContainer .overlayElement.highlighted {
    /*box-shadow: 0 0 1px 2px #f8f8f8 !important;*/
    background-color: #ffffff40 !important;
    /*opacity: 0.5;*/
    word-break: break-word !important;
}

#img_nm {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 24ch;
    line-height: 20px;
}


/*********************************************************************/

 .infoAreaRight .editPropertiesContainer {
    position: relative !important;
}

 .infoAreaSaveDeleteEdit {
    height: auto;
    /*width: 323px !important;*/
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    /*background-color: var(--secondary-fg-color);
    border-right: .2rem solid #000;*/
}
#textEditorToolbar
{
    display: none !important;
}
.editPropertiesContainer .textEditorContent {
    border-top: 0px solid var(--primary-bg-color) !important;
    height: calc(100% - 30px);
}

.editPropertiesContainer .visualEditorWrapper {
    /*clear: both;
    position: relative;
    background: #cfcfcf;
    height: calc(100% - 27px);*/
    padding: .5rem !important;
    border-radius: 50rem !important;
    border: 1px solid #dee2e6 !important;
    background: #fff !important;
    height: calc(190% - 27px) !important;
    width: 100%  !important;
}
.infoAreaRight
{
    max-height: 140px;
}
/*button:hover, input[type="submit"]:hover, input[type="button"]:hover, .button:hover {
    background-color: #fff !important;
    color: var(--primary-fg-color);
    cursor: pointer;
}*/
.time-text-right
{
    text-align: right!important;
    float: right;
    position: relative;
    bottom: 0px;
    /* border: 2px solid #000; */
    max-width: 100px;
    cursor: pointer;
}
.editAnnotationContainer label
{
    width: 100%;
}
/*.revision_listContainer
{
    position: absolute;
    clear: both;
    width: 90%;
}*/

.time-text-left
{
    text-align: left!important;
    float: left;
    position: relative;
    bottom: 0px;
    /* border: 2px solid #000; */
    max-width: 100px;
    cursor: pointer;
}

/***************************************poulami end*******************************/

