.titlebar.sidebarOpen.editActive, .sidebar.editActive {
    display: none !important;
}

.hypervideoContainer #infoAreaRightEditDelete {
    flex: 0 0 320px !important;
    min-width: 320px !important;
}

.hypervideoContainer .videoContainer .hypervideo {
	margin-left: -50% !important;
	margin-top: -20% !important;
	height: auto !important;
}

.hypervideoContainer .videoContainer .hypervideo video.video {
	width: 100% !important;
	height: auto !important;
}

.editingOptions .overlayEditingTabs #CustomOverlay {
	height: auto !important;
	padding: 0 !important;
}


.hypervideoContainer .infoAreaRight .editPropertiesContainer {
	position: relative !important;
}

.hypervideoContainer .infoAreaSaveDeleteEdit {
    height: auto;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    background-color: var(--secondary-fg-color);
    border-right: .2rem solid #000;
}

.editingOptions {
    /*width: 33% !important;*/
    margin: 0.5rem !important;
    order: 0 !important;
}

.hypervideoContainer .infoAreaRight {
	height: 25rem;
}

.editingOptions .resourceThumb[data-type="text"] {
	height: 6rem !important;
}

.hypervideoContainer .infoAreaRight .editPropertiesContainer {
	border: none !important;
}