.titlebar.sidebarOpen.editActive, .sidebar.editActive {
    display: none !important;
}

.hypervideoContainer #infoAreaRightEditDelete, .hypervideoContainer .infoAreaRight, .hypervideoContainer .infoAreaRight .editPropertiesContainer {
    flex: 0 0 320px !important;
    min-width: 320px !important;
}

.hypervideoContainer .videoContainer .hypervideo {
	margin-left: -50% !important;
	margin-top: -30% !important;
	height: auto !important;
}

.hypervideoContainer .videoContainer .hypervideo video.video {
	width: 100% !important;
	height: auto !important;
}

.editingOptions .overlayEditingTabs #CustomOverlay {
	overflow: unset !important;
	height: auto !important;
	padding: 0 !important;
}


.hypervideoContainer .infoAreaRight .editPropertiesContainer {
	position: relative !important;
}

.hypervideoContainer .infoAreaSaveDeleteEdit {
    height: auto;
    width: 323px !important;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    background-color: var(--secondary-fg-color);
    border-right: .2rem solid #000;
}

.editingOptions {
	flex-basis: 132px !important;
    margin: 0.5rem !important;
    order: 0 !important;
}

.hypervideoContainer .infoAreaRight {
	height: 29rem;
}

.editingOptions .resourceThumb[data-type="text"] {
	height: 3rem !important;
}

.hypervideoContainer .infoAreaRight .editPropertiesContainer {
	border: none !important;
}

.editPropertiesContainer .timeControls {
    overflow: visible !important;
}

.editPropertiesContainer .propertiesTypeIcon {
    height: 52px !important; 
    width: 48px !important;
}

.btn-group {
	margin-top: .1rem !important;
}

.btn-group .btn {
	padding: .1rem .3rem .1rem .1rem !important;
}

b.caret {
	display: none !important;
}













/*********************************By Poulami*******************************************/

.editPropertiesContainer .overlayOptionsWrapper {
     height: calc(90% - 140px)!important;
}

.editPropertiesContainer .timeControls {
    display: none !important;
}