@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?rrc94z');
  src:  url('../fonts/icomoon.eot?rrc94z#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?rrc94z') format('truetype'),
    url('../fonts/icomoon.woff?rrc94z') format('woff'),
    url('../fonts/icomoon.svg?rrc94z#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-wifi2:before {
  content: "\e90e";
}
.icon-wifi-public:before {
  content: "\e90f";
}
.icon-swimming-pool:before {
  content: "\e910";
}
.icon-spa2:before {
  content: "\e911";
}
.icon-watersport:before {
  content: "\e912";
}
.icon-water-sport:before {
  content: "\e913";
}
.icon-diving:before {
  content: "\e914";
}
.icon-bar:before {
  content: "\e915";
}
.icon-fitness-center:before {
  content: "\e916";
}
.icon-coffee-shop:before {
  content: "\e917";
}
.icon-restaurent:before {
  content: "\e918";
}
.icon-room-service:before {
  content: "\e919";
}
.icon-mini-bar:before {
  content: "\e91a";
}
.icon-safety-box:before {
  content: "\e91b";
}
.icon-smoking-area:before {
  content: "\e91c";
}
.icon-television2:before {
  content: "\e91d";
}
.icon-ac:before {
  content: "\e91e";
}
.icon-tea:before {
  content: "\e91f";
}
.icon-bottle:before {
  content: "\e920";
}
.icon-baby-cot:before {
  content: "\e921";
}
.icon-housekeeping:before {
  content: "\e922";
}
.icon-laundry:before {
  content: "\e923";
}
.icon-dry-cleaning:before {
  content: "\e924";
}
.icon-baby-sitter:before {
  content: "\e925";
}
.icon-luggage:before {
  content: "\e926";
}
.icon-exchange:before {
  content: "\e927";
}
.icon-gift-box:before {
  content: "\e928";
}
.icon-check-in:before {
  content: "\e929";
}
.icon-front-desk:before {
  content: "\e92a";
}
.icon-camera:before {
  content: "\e92b";
}
.icon-balcony:before {
  content: "\e92c";
}
.icon-bath-shower:before {
  content: "\e92d";
}
.icon-Breakfast:before {
  content: "\e92e";
}
.icon-cancle-reservation:before {
  content: "\e92f";
}
.icon-check-mark:before {
  content: "\e930";
}
.icon-dinner:before {
  content: "\e931";
}
.icon-house-scale:before {
  content: "\e932";
}
.icon-king-bed:before {
  content: "\e933";
}
.icon-minibar:before {
  content: "\e934";
}
.icon-pay-later:before {
  content: "\e935";
}
.icon-person2:before {
  content: "\e936";
}
.icon-window:before {
  content: "\e937";
}
.icon-family-connected-with-wifi-to-internet-cloud:before {
  content: "\e938";
}
.icon-cocktail:before {
  content: "\e90d";
}
.icon-air-conditioner:before {
  content: "\e90c";
}
.icon-person:before {
  content: "\e900";
}
.icon-bed:before {
  content: "\e901";
}
.icon-bicycle:before {
  content: "\e902";
}
.icon-couple:before {
  content: "\e903";
}
.icon-group:before {
  content: "\e904";
}
.icon-no-smoking:before {
  content: "\e905";
}
.icon-spa:before {
  content: "\e906";
}
.icon-swimmer:before {
  content: "\e907";
}
.icon-television:before {
  content: "\e908";
}
.icon-three-users:before {
  content: "\e909";
}
.icon-weightlifting:before {
  content: "\e90a";
}
.icon-wifi:before {
  content: "\e90b";
}
