.bgimg {
  background: url('http://collabtest.piquic.com/comingsoon/images/editor.jpg') no-repeat top left;
  height: 100%;
  background-size: cover;
}

.overlay {
  background: #00000010;
  height: 100%;
  background-size: cover;
}

.circle {
    color: #000000;
    align-items: center;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid #000000;
    border-radius: 100%;
    box-sizing: border-box;
    font-weight: 400;
    justify-content: center;
    opacity: 1;
    overflow: hidden;
    white-space: nowrap;
    height: 6rem;
    width: 6rem;
    line-height: 6rem;
    font-size: 2.6rem;
}

.ctxt {
	font-size: .8rem !important;
}

.m { margin: .5rem; }

.cba {
  width: 200px;
  height: auto;
  position: absolute;
  bottom: 20%;
  right: 20%;
}

@media screen and (min-width: 280px) and (max-width: 767px) {
  .bgimg {
    width: 100%;
    background-size: contain;
    display: table;
    text-align: center;
  }

  .logo, .title, .desc, #demo {
    transform: scale(1.4);
  }

  .overlay {
    width: 100%;
    display: table-cell;
    vertical-align: middle;
  }

  .logo { margin: 1.5rem; }

  .m {
    margin: 1rem;
  }

  .circle { margin-bottom: .5rem; }

  .cba {
    width: 250px;
    bottom: 30%;
    right: 0%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .bgimg {
    width: 100%;
    background-size: contain;
    display: table;
    text-align: center;
  }

  .logo, .title, .desc, #demo {
    transform: scale(1.1);
  }

  .overlay {
    width: 100%;
    display: table-cell;
    vertical-align: middle;
  }

  .cba {
    width: 250px;
    bottom: 30%;
    right: 5%;
  }
}

@media screen and (min-width: 1024px) {
  .bgimg {
    width: 100%;
    background-size: contain;
    display: table;
    text-align: center;
  }

  .overlay {
    width: 100%;
    display: table-cell;
    vertical-align: middle;
  }

  .cba {
    width: 250px;
    bottom: 30%;
    right: 10%;
  }
}