.resourcePicker {
	position: relative;
	width: 100%;
	height: 100%;
	display: none;
}

.resourcePicker .resourcePickerControls {
	position: absolute;
	right: 0px;
	bottom: 0px;
	background: var(--primary-fg-color);
	padding: 10px 3px 3px 10px;
	z-index: 1;
}

.resourcePicker .resourcePickerControls button {
	background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 24px auto;
    border: 2px solid var(--primary-bg-color);
    border-radius: 50%;
    height: 40px;
    width: 40px;
}

.resourcePicker .resourcePickerControls button:hover {
	background-color: var(--primary-bg-color);
}

.resourcePicker .resourcePickerControls button [class^="icon-"]::before, .resourcePicker .resourcePickerControls button [class*=" icon-"]::before {
	font-size: 18px;
	margin-left: 1px;
	margin-top: 2px;
	width: 22px;
}

.resourcePicker .resourcePickerList {
	width: 100%;
	height: 100%;
	overflow: auto;
}

.resourcePicker .resourcePickerList .resourceThumb {
	float: left;
	position: relative;
	width: 120px;
	height: 80px;
	margin: 6px;
}

/* Upload Form */

.uploadForm .resourceInput {
	width: 230px;
}

.uploadForm .resourceNameInput {
	width: 239px;
}

.uploadForm .corsWarning {
	position: absolute;
	top: 78px;
	right: 170px;
	width: 180px;
	height: 110px;
}

.uploadForm .resourceURLPreview {
	position: absolute;
	top: 80px;
	right: 10px;
	width: 150px;
	height: 110px;
}

.uploadForm .resourceURLPreview .resourceThumb {
	width: 100%;
	height: 100%;
	cursor: default;
}