
a {
	text-decoration: none !important;
}

/*---------Piquic Themed Class---------*/

.text-piquic { color: #76aea1 !important; }
.bg-piquic { background-color: #76aea1 !important; }
.btn-piquic { color: #fff; background-color: #76aea1 !important; border-color: #76aea1 !important; }
.btn-piquic:hover { color: #fff; background-color: #76aea1 !important; border-color: #76aea1 !important; }
.btn-outline-piquic { color: #76aea1 !important; background-color: transparent; background-image: none; border-color: #76aea1 !important; }
.btn-outline-piquic:hover { color: #fff !important; background-color: #76aea1 !important; border-color: #76aea1 !important; }
.border-piquic { border: .1rem solid #76aea1 !important; }

.form-control:focus {
    border-color: #76aea1 !important;
    box-shadow: 0 0 0 0.2rem #76aea140 !important;
}

.custom-control-input:checked~.custom-control-label::before{
    background-color: #76aea1 !important;
    border-color: #76aea1 !important;
}

.custom-select:focus {
    border-color: #76aea1 !important;
    outline: 0;
    box-shadow: 0 0 0 0.2rem #76aea138 !important;
}

.custom-select:focus > option:checked { box-shadow: 0 0 10px 100px #76aea1 inset !important; }

/*------------------------------*/

.page-item.active .page-link {
    background-color: #76aea1 !important;
    border-color: #76aea1 !important;
    color: #ffffff !important;
}

.page-link, .page-link:hover { color: #76aea1 !important; }

.full-w { margin-left: -15px !important; margin-right: -15px !important; }

.btn-cursor {
	cursor: pointer !important;
}

.border-dotted {
	border: 2px solid #dee2e6!important;
	border-style: dotted !important;
}

.navbar-light .navbar-nav .active>.nav-link {
	color: #76aea1 !important;
	border-bottom: 2px solid #76aea1 !important;
}

.login-img { width: 40px; height: 40px; border: 1px solid #76aea1; border-radius: 50px; }

.roundCheck::before { 
	height: 1.5rem !important; 
	width: 1.5rem !important;
	border: 1px solid #76aea1 !important;
	border-radius: 1rem !important;
	top: 0.25rem !important;
	left: -1.8rem !important;
}

.roundCheck::after { 
	height: 1.5rem !important; 
	width: 1.5rem !important;
	border-radius: 1rem !important;
	top: 0.25rem !important;
	left: -1.8rem !important;
}

.custom-switch .chkToggle::before {
	top: 1rem !important;
	left: -3rem !important;
	width: 2.75rem !important;
	height: 1.5rem !important;
	border-radius: .8rem !important;
}

.custom-switch .chkToggle::after {
	top: calc(1.15rem + 2px) !important;
	left: calc(-2.9rem + 2px) !important;
	width: calc(1.25rem - 4px) !important;
	height: calc(1.25rem - 4px) !important;
	background-color: #76aea1 !important;
	border-radius: 0.8rem !important;
}

.custom-control-input:checked~.roundCheck::before, .custom-control-input:checked~.chkToggle::before {
	background-color: #76aea1 !important;
	border-color: #76aea1 !important;
}

.custom-switch .custom-control-input:checked~.chkToggle::after {
	background-color: #fff !important;
   -webkit-transform: translateX(.75rem) !important;
   transform: translateX(1.25rem) !important;
}

.p-auto {
	height: 100% !important;
}

.navSlct {
	border-color: transparent !important;
	background-color: transparent !important;
	background-image: linear-gradient(45deg, transparent 50%, white 50%), linear-gradient(135deg, white 50%, transparent 50%);
	background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
	background-size: 5px 5px, 5px 5px, 1px 1.5em;
	background-repeat: no-repeat;
}

.navSlct:focus {
	box-shadow: none !important;
}

.reqSlct {
	border: 1px solid #dc3545 !important;
	color: #dc3545 !important;
}

#upload-image .custom-file-input{
	height: 22rem !important;
}

#upload-image .custom-file-label {
	height: 22rem !important;
	padding: 8rem 6rem !important;
	background-color: transparent;
	border: 2px dashed #ced4da !important;
}

#oneImg .custom-file-input{
	height: 10rem !important;
}

#oneImg .custom-file-label {
	height: 10rem !important;
	padding: 2rem !important;
	background-color: transparent;
	border: 2px dashed #ced4da !important;
}

#upload-image .custom-file-label::after {
	border: none !important;
	color: transparent;
	background-color: transparent;
	content: '';
}

#upload-image .nav-pills .nav-link.active, #upload-image .nav-pills .show>.nav-link {
	background-color: #76aea1 !important;
	color: #ffffff !important;
}

#upload-image .nav-pills .nav-link {
	color: #76aea1 !important;
}

#upload-image .lblOver {
	position: absolute;
    left: 1rem;
    top: .6rem;
    background-color: #fff;
}

.lblOver {
	position: absolute;
    left: 1.2rem;
    top: 1.8rem;
    background-color: #fff;
}

.scroll-box { max-height: 36rem; overflow-y: scroll; overflow-x: hidden; }
.scroll-box::-webkit-scrollbar { width: .4em; } 
.scroll-box::-webkit-scrollbar-track { -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0); background-clip:content-box;  }
.scroll-box::-webkit-scrollbar-thumb { background-color: #76aea1; border-radius:.7em; width:5px; }

/* Label */
:root {
	--width: 12.25rem;
	--height: 18.125rem;
}

.img-box {
	width: var(--width);
	height: var(--height);
}

.img-box .img {
	-webkit-transform: rotate(90deg) translate(3.3rem,3.3rem);
	transform: rotate(90deg) translate(3.3rem,3.3rem);
	width: 19.65rem;
}

/* Style.php */

.thumb_scroll { max-height: 36rem; overflow-y: scroll; overflow-x: hidden; }
.thumb_scroll::-webkit-scrollbar { width: 0em; } 
.thumb_scroll::-webkit-scrollbar-track { -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0); background-clip:content-box;  }
.thumb_scroll::-webkit-scrollbar-thumb { background-color: #76aea1; border-radius:.7em; width:0px; }

#style .card {
	border: none !important;
}

.co-top { width: 15rem; margin: -3.5rem 0 0 -4.5rem; }
.co-btm { width: 15rem; margin: -8.5rem 0 0 -4.5rem; }
.co-drs { width: 15rem; margin: -5rem 0 0 -7.5rem; }

.list-group-item {
	border: none !important;
	padding: .25rem 1rem !important;
}

/*.iconimg {
	max-width: 18%;
	position: absolute;
	z-index: 2000;
	top: 2px;
	right: 2px;
}*/

.list-group-item .col-9 {
	padding: 0px !important;
}

.list-group-item .col-3 {
	padding-right: 4px !important;
	padding-left: 4px !important;
}

#bg, #shdw, #pose, #head, #top, #bottom, #dress, #access, #foot { position: absolute; }

#bg { z-index: 995; }
#shdw { z-index: 996; }
#pose { z-index: 997; }
#top { z-index: 1000; }
#bottom { z-index: 999; }
#dress { z-index: 1000; }
#access { z-index: 1005; }
#foot { z-index: 998; }

#accbr, #accer, #accnc, #accrn { position: absolute; }

#accbr { z-index: 1001; }
#accer { z-index: 1002; }
#accnc { z-index: 1003; }
#accrn { z-index: 1004; }

@media (min-width: 1024px) {
	.accbg { width: 5rem; height: 6rem; right: .9rem; background-repeat: no-repeat !important; background-position: top right !important; background-size: 17.8rem !important; }
}
@media (min-width: 768px) and (max-width: 1023px) {
	.accbg { width: 4rem; height: 6rem; right: .9rem; background-repeat: no-repeat !important; background-position: top right !important; background-size: 11rem !important; }
}

.topView	{ width: 20rem; margin: -4rem 0 0 -6.5rem; }
.btmView	{ width: 14rem; margin: -7.5rem 0 0 -3.5rem; }
.footView	{ width: 21rem; margin: -21rem 0 0 -7rem; }

#select-style .nav-tabs .nav-link {
	border: 2px solid transparent !important;
	color: #76aea1 !important;
}

#select-style .nav-tabs .nav-link.disabled {
	color: #acacac !important;
}

#select-style .nav-tabs .nav-item.show .nav-link, #select-style .nav-tabs .nav-link.active {
	border-color: #ffffff #ffffff #76aea1 !important;
}

#do-make-up .nav-tabs .nav-link{
	border: 2px solid transparent !important;
	color: #76aea1 !important;
	font-weight: 500;
}

#do-make-up .nav-tabs .nav-item.show .nav-link, #do-make-up .nav-tabs .nav-link.active {
	/*border-color: #76aea1 #ffffff #ffffff  !important;*/
	background-color: #76aea133 !important;
}

#nav-tabContent .c-box {
	position: absolute;
	z-index: 999;
	top: -19px;
	width: 100%;
	margin: 18px 3px
}

#nav-tabContent .custom-control-label::before, #nav-tabContent .custom-control-label::after { 
    height: 1.3rem !important; 
    width: 1.3rem !important;
    border: 1px solid #76aea1;
    border-radius: 50px;
}

#plans .nav-tabs .nav-link, #my-account .nav-tabs .nav-link {
	border: 2px solid transparent !important;
	color: #000000 !important;
}

#plans .nav-tabs .nav-link.disabled, #my-account .nav-tabs .nav-link.disabled {
	color: #acacac !important;
}

#plans .nav-tabs .nav-item.show .nav-link, #plans .nav-tabs .nav-link.active, #my-account .nav-tabs .nav-item.show .nav-link, #my-account .nav-tabs .nav-link.active {
	border-color: #ffffff #ffffff #76aea1 !important;
	color: #76aea1 !important;
}

.slct {
	position: absolute;
   z-index: 1000;
   top: 0px;
   right: 20px;
}

.custom-control-input:checked~.chkBox::before {
    border-color: #76aea1 !important;
    background-color: #76aea1 !important;
}

/* Download */
.zmcr {
	background-color: #dee2e6d6;
	color: #2e2850;
	position: absolute;
	z-index: 1000;
	bottom: 1.5rem;
	left: 1rem;
	min-width: 12.7rem;
	border-top: 1px solid #2e285026;
	border-bottom: 1px solid #2e285026;
	opacity: 0;
}

.imgCnt:hover .zmcr {
	opacity: 1;
}

/*.......................*/

.modal { top: 60px !important; }
.modal .nav-link { color: #ffffff !important; }
.modal .nav-pills .nav-link.active, .nav-pills .show>.nav-link { background-color: #fff !important; color: #76aea1 !important; }
#modal-tab { background-color: #76aea1; color: #ffffff; padding: 1rem 1rem 0 1rem !important; border-radius: 0px !important; }
.modal-body .fa, .modal-body .fas { font-size: 1.5rem; }

#modelandangles .carousel-control-next, #modelandangles .carousel-control-prev { bottom: 19% !important; }
#index .carousel-item { max-height: 319px !important; }
#modelandangles .carousel-item { max-height: 215px !important; }


/*----------------Master Autopose----------------*/

#master-autopose .mcbox {
    position: absolute;
    z-index: 999;
    bottom: 50%;
    left: 42%;
    margin: 0px 2px;
    text-align: center;
}

#master-autopose .mlbox {
    position: absolute;
    z-index: 998;
    top: -19px;
    width: 100%;
    margin: 0px 2px;
}

#master-autopose .m-chkbox {
    position: absolute;
    top: .25rem;
    display: block;
    content: "";
    background-color: #76aea1 !important;
    color: #ffffff !important;
    height: 1.3rem !important;
    width: 1.3rem !important;
    border-radius: 50% !important;
}

#master-autopose .m-chklbl {
    width: 90%;
    line-height: 160px;
    margin-left: -22px;
}

#master-autopose .mpcbox {
    position: absolute;
    z-index: 999;
    top: -0.5%;
    margin: 0px 2px;
    text-align: center;
}

#master-autopose .mplbox {
    position: absolute;
    z-index: 998;
    top: -19px;
    width: 100%;
    margin: 0px 2px;
}

#master-autopose .mp-chkbox {
    position: absolute;
    top: .25rem;
    display: block;
    content: "";
    background-color: #76aea1 !important;
    color: #ffffff !important;
    height: 1.3rem !important;
    width: 1.3rem !important;
    border-radius: 50% !important;
}

#master-autopose .mp-chklbl {
    width: 81%;
    line-height: 230px;
    margin-left: -34px;
    margin-top: 18px;
}

#master-autopose .crop {
    height: 135px;
    overflow: hidden;
}

#payments .custom-control-label::before, #payments .custom-control-label::after {
	width: 1.3rem !important;
    height: 1.3rem !important;
}


#imgtag
{
position: relative;
min-width: 300px;
min-height: 300px;
float: none;
border: 3px solid #FFF;
cursor: crosshair;
text-align: center;
}
.tagview
{
border: 1px solid #F10303;
width: 100px;
height: 100px;
position: absolute;
/*display:none;*/
opacity: 0;
color: #FFFFFF;
text-align: center;
}
.square
{
display: block;
height: 79px;
}
.person
{
background: #282828;
border-top: 1px solid #F10303;
}
#tagit
{
position: absolute;
top: 0;
left: 0;

}
#tagit .box
{
border: 1px solid #F10303;
width: 100px;
height: 100px;
float: left;
}

#tagit DIV.text
{
margin-bottom: 5px;
}
#tagit INPUT[type=text]
{
margin-bottom: 5px;
}
#tagit #tagname
{
width: 110px;
}
.tagtitle
{
font-size: 14px;
text-align: center;
width: 100%;
float: left;
}
.editor {
line-height: normal;
padding:0px 0px 2px 0px;
background-color:#f2f2f2;
color:#000;
opacity:0.97;
border:1px solid #ccc;
border-radius: 3px;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
-khtml-border-radius: 3px;
-moz-box-shadow:0px 5px 15px #111; 
-webkit-box-shadow:0px 5px 15px #111; 
box-shadow:0px 5px 15px #111; 
}

.editor-text {
border-width:0px 0px 1px 0px;
border-style:solid;
border-color:#ccc;
line-height: normal;
background-color:#fff;
width:240px;
height:50px;
outline:none;

font-size:11px;
padding:4px;
margin:0px; 
color:#000;
text-shadow:none;
overflow-y:auto;
display:block;
}


.editor-button {

line-height: normal;
display:inline-block;
text-align:center;
text-decoration:none;
font-size:10px; 
border:1px solid #777;
color:#ddd;
padding:3px 8px;
margin:8px -19px 10px 36px;
cursor:pointer;
cursor:hand;
background:-webkit-gradient(linear, left top, left bottom, from(#888), to(#555));
background:-moz-linear-gradient(top, #888, #555);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#888888', endColorstr='#555555');
-moz-border-radius:2px;
-webkit-border-radius:2px;
-khtml-border-radius:2px;
border-radius:2px;
}

.editor-button:hover {
background:#999;
}

.editor-field {
border-bottom:1px solid #ccc;
margin:0px;
background-color:#fff;
padding:3px;

font-size:12px; 
}
.hint-msg {
background-color:rgba(0,0,0,0.6);
margin:4px;
padding:8px 15px 8px 30px;

line-height:normal;
font-size:12px;
color:#fff;
border-radius:4px;
-moz-border-radius:4px;
-webkit-border-radius:4px;
-khtml-border-radius:4px;
}

.hint-icon {
position:absolute;
top:6px;
left:5px;
background:url(feather_icon.png);
background-repeat:no-repeat;
width:19px;
height:22px;
margin:2px 4px 0 6px;
}

.opacity-fade {
-moz-transition-property:opacity;
-moz-transition-duration:.5s;
-moz-transition-delay:0;
-webkit-transition-property:opacity;
-webkit-transition-duration:.5s;
-webkit-transition-delay:0;
-o-transition-property:opacity;
-o-transition-duration:.5s;
-o-transition-delay:0;
transition-property:opacity;
transition-duration:.5s;
transition-delay:0;
}

.item-focus {
opacity:1.0;
}

.item-unfocus {
opacity:0.4;
}

.popup {
/* position:absolute;*/
top:0;
left:0;
width:220px;
min-height:26px;
margin-top: 29px;
background-color:#383838;
border:1px solid #000;
outline:none;
padding:5px;
-moz-transition-property:opacity;
-moz-transition-duration:.5s;
-moz-transition-delay:0;
-ms-transition-property:opacity;
-ms-transition-duration:.5s;
-ms-transition-delay:0;
-webkit-transition-property:opacity;
-webkit-transition-duration:.5s;
-webkit-transition-delay:0;
-o-transition-property:opacity;
-o-transition-duration:.5s;
-o-transition-delay:0;
transition-property:opacity;
transition-duration:.5s;
transition-delay:0;
-moz-border-radius:8px;
-webkit-border-radius:8px;
-khtml-border-radius:8px;
border-radius:8px;
-o-box-shadow:0 5px 5px rgba(0,0,0,0.7),inset 0 1px 1px rgba(255,255,255,0.25);
-ms-box-shadow:0 5px 5px rgba(0,0,0,0.7),inset 0 1px 1px rgba(255,255,255,0.25);
-moz-box-shadow:0 5px 5px rgba(0,0,0,0.7),inset 0 1px 1px rgba(255,255,255,0.25);
-webkit-box-shadow:0 5px 5px rgba(0,0,0,0.7),inset 0 1px 1px rgba(255,255,255,0.25);
box-shadow:0 5px 53px rgba(0,0,0,0.7),inset 0 1px 1px rgba(255,255,255,0.25);
}



.editor:after {
content:url(../images/annotation-icon/Indicator.png);
position:absolute;
left:15px;
top:-14px;
height:18px;
width:19px;
display:block;
}

.popup:after {
content:url(../images/annotation-icon/Indicator.png);
position:absolute;
right: 64px;
top: 96px;
height:18px;
width:19px;
display:block; 
}

.popup-field {
margin:0px;
padding:6px;

font-size:12px;
}

.editor {
position:absolute;

margin-top:115px;
background-color:#383838;
color:#F2F2F2;
border:1px solid #000;
border-radius:8px;
-o-border-radius:8px;
-moz-border-radius:8px;
-webkit-border-radius:8px;
-khtml-border-radius:8px;
-o-box-shadow:0 5px 5px rgba(0,0,0,0.7),inset 0 1px 1px rgba(255,255,255,0.25);
-ms-box-shadow:0 5px 5px rgba(0,0,0,0.7),inset 0 1px 1px rgba(255,255,255,0.25);
-moz-box-shadow:0 5px 5px rgba(0,0,0,0.7),inset 0 1px 1px rgba(255,255,255,0.25);
-webkit-box-shadow:0 5px 5px rgba(0,0,0,0.7),inset 0 1px 1px rgba(255,255,255,0.25);
box-shadow:0 5px 53px rgba(0,0,0,0.7),inset 0 1px 1px rgba(255,255,255,0.25);
z-index:2;
}


.editor-text {
border-bottom:1px solid gray;
background-color:#383838;
line-height:150%;
margin:10px 0px 4px 0px;
padding:0px 10px;
min-height:50px;
width:100%;
min-width:200px;
outline:none;

font-weight:400;
font-size:12px;
color:#eee;
text-shadow:none;
overflow-y:auto;
display:block;

}

.editor-text a:hover {
color:#eee;
background-color:transparent;
}

.editor-button {
float:right;
line-height:normal;
display:inline-block;
text-align:center;
text-decoration:none;

font-size:.625em;
border:1px solid #000;
color:#f2f2f2;
padding-top:5px;
padding-bottom:5px;
margin:7px 2px 10px 0px;
cursor:pointer;
width:60px;
-moz-box-shadow:inset 0 1px 1px rgba(255,255,255,0.25),0 1px 1px rgba(255,255,255,0.25);
-webkit-box-shadow:inset 0 1px 1px rgba(255,255,255,0.25),0 1px 1px rgba(255,255,255,0.25);
box-shadow:inset 0 1px 1px rgba(255,255,255,0.25),0 1px 1px rgba(255,255,255,0.25);
-moz-border-radius:3px;
-webkit-border-radius:3px;
-khtml-border-radius:3px;
border-radius:3px;
opacity:1;
}


.editor-button:hover {
color:rgba(242,2423,242,1);
text-shadow:0 0 6px rgba(242,242,242,0.6);
-o-text-shadow:0 0 6px rgba(242,242,242,0.6);
-moz-text-shadow:0 0 6px rgba(242,242,242,0.6);
-webkit-text-shadow:0 0 6px rgba(242,242,242,0.6);
}

.editor-button:active {
-moz-box-shadow:inset 0 3px 3px rgba(0,0,0,0.7),0 1px 1px rgba(255,255,255,0.25);
-webkit-box-shadow:inset 0 3px 3px rgba(0,0,0,0.7),0 1px 1px rgba(255,255,255,0.25);
box-shadow:inset 0 3px 3px rgba(0,0,0,0.7),0 1px 1px rgba(255,255,255,0.25);
}

.editor-field {
margin:0px;
padding:6px 0px;

font-size:12px; 
}

/* OpenLayers module */
.ol-boxmarker-outer {
border:1px solid #000;
}

.ol-boxmarker-inner {
border:1px solid #fff;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
-ms-box-sizing: border-box;
box-sizing: border-box;
}

.ol-hint {
line-height: normal;

font-size:16px;
color:#fff;
background-color:rgba(0,0,0,0.7);
margin:0px;
padding:9px;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
-khtml-border-radius: 5px;
}