@charset "utf-8";
/*------------------------------------------------------------------------------
[Master Stylesheet]

Project:        MBS - Hotel Booking
Author:         Hellopeople
URL:            http://hellopeople.com.au/
------------------------------------------------------------------------------*/

/*** General Styling & Typography
------------------------------------------------------------------------------*/
::-webkit-selection{background-color: #fec107;color: #ffffff;}
::-moz-selection{background-color: #fec107;color: #ffffff;}
::selection{background-color: #fec107;color: #ffffff;}
body{font-family: 'Open Sans', sans-serif;font-size: 13px; background-color:transparent; }
p {color: #333;line-height: 23px;letter-spacing: 0.25px;}
#page-content{position: relative;margin-bottom: 421px;z-index: 10;background-color: white;}
ol, ul {padding: 0;margin:0;list-style-type: none;}
img{width: 100%;}
a:hover{text-decoration: none;}
.thm-margin{margin: 0}
.thm-padding{padding: 0;}
/*** 02. Page loader
------------------------------------------------------------------------------*/

/*** Animation
------------------------------------------------------------------------------*/
.destination-grid, .destination-grid .mask, .destination-grid .mask h2, .destination-grid .mask p, .destination-grid .dest-icon,
.destination-grid .dest-icon i{
    -ms-transform: all 0.5s linear;
    -o-transition: all 0.5s linear;
    -webkit-transform: all 0.5s linear;
    -moz-transform: all 0.5s linear;
    transition: all 0.5s linear;
}
.btn, .hotel-item, .package-wiget, .blog-content h4 a, .pagination-inner .pager li > a, .pagination > li > a, .contact-icon a,
.clients-thumb, .img-zoom-in img, .team_media a i, .categoty li a, .footer-menu ul li a, .social i {
    -ms-transform: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
/*** Font weight
------------------------------------------------------------------------------*/
.info-box a, .navbar .navbar-nav > li > a, .uc, .turky, .nav-tabs > li > a, .nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover, .title p, .content-text h5, .effect-block span,
.destination-grid .mask p, .destination-grid .dest-name h5, .offer-details-1 span, .panel label, .package-content h5,
.offer-details-2 span, .hotel-person, .get-offer span, .get-offer .btn-default, .blog-img span, .address-inner p,
.categoty li a, .footer-menu ul li a, .portfolio-sorting li a, .place-name, .ui.tag, .post-tags span, .btn-np,
.btn-inner .blog-social ul li span, .comment-box .comment-content h5, .comment-author, .customers, .comment-datetime,
.comment-form .form-control, .contact-form .form-control, .contact-content h4, .contact-content a, .trip h5, .trip p, 
.hotels-details-inner h3, .tour-details-inner h3, .review-text h4, .content-list li, .contact-icon h5, .sub-footer p, 
.navbar-default.tour-nav ul li a, .booking_price ul.list-ok li, .booking_price .offer, .effect-block h3, .package-price .price span{
    font-weight: 600;
}
/***Color
------------------------------------------------------------------------------*/
/*yellow*/
.navbar .navbar-nav>.open>a, .navbar .navbar-nav>.open>a:focus, .navbar .navbar-nav>.open>a:hover, .travel-times span,
.uc, .owl-theme .owl-controls .owl-buttons div, figure.effect-milo .ratting, .block .price, .destination-grid .dest-name h5,
.hotel-item .hotel-body .ratting i, .blog-content:hover h4, .portfolio-sorting li a:hover, .portfolio-sorting li a.active,
.filters-btn:hover i, .travel-title span i, .pagination-inner .pager li > a:hover, .pagination > li > a, .cats-widget ul li:hover,
.cats-widget ul li:hover a, .popular-post-inner ul li a:hover, .checkbox-star .star i, .help-widget h4 span, .hotel-review .hotel-review-ratting,
.booking-form .icon-addon .glyphicon, .btn-pm, .contact-icon a:hover, .contact-content a, .categoty li a:hover, .footer-menu ul li a:hover{
    color: #f94141 !important;
}
/*red*/
.section-title i, ul.list-ok li::before, .effect-block .package-ratting, .package-price .price, .review_rating,
.booking_price .offer, .box_map i, .content-list li::before, .content-left span, blockquote .author, .team_text_inner p {
    color: #f94141 !important;
}
/*** Background color
------------------------------------------------------------------------------*/
/*background color yellow*/
.thm-btn, .btn-top, .region, .portfolio-sorting li a span, .pagination-inner .pager li > a, .pagination > li > a:hover,
.pagination-inner .pagination > .active > a,.cats-title span, .ui.tag:hover{
    background-color: #f94141 !important;
    color: #fff !important;
    text-decoration: none !important;
}
/***Page padding
------------------------------------------------------------------------------*/
.popular-inner, .service-inner, .package, .blog-inner,
.blog-wrapper, .blog-details-inner, .contact-inner, .gallery-inner, .hotels-details-inner, .tour-details-inner,
.hotel-inner, .tour-inner{
    padding: 0px 0;
}

/*.destination {padding: 70px 0;}--*/

/*** Main title
------------------------------------------------------------------------------*/
.title {text-align: center;margin-bottom: 70px;}
.title h2{margin: 0 0 5px; text-align: center;font-weight: 800;color: #000;position: relative;z-index: 10;}
.title p {margin: 0;}
/*** Section title
------------------------------------------------------------------------------*/
.section-title{margin-bottom: 50px;}
.section-title i{font-size: 60px;line-height: 70px;}
.section-title h2 {font-weight: 800;margin-top: 0;color: #000;text-transform: capitalize;}
.section-title p{font-size: 14px;}
.review-text { font-size: 14px; background: #f2f2f2; padding: 20px 40px; margin-bottom: 20px; }
.hotel-header { margin:30px 0; }
.hotel-header h3 { font-weight: 600; }

/***Button
------------------------------------------------------------------------------*/
.thm-btn {padding: 12px 30px;color: #fff;font-weight: 600;font-size: 14px;text-transform: uppercase;border: 0;text-align: center;border-radius: 4px;text-decoration: none;display: inline-block;vertical-align: middle;-webkit-transform: perspective(1px) translateZ(0);transform: perspective(1px) translateZ(0);box-shadow: 0 0 1px transparent;position: relative;}
.thm-btn:before {content: '';position: absolute;border: white solid 3px;border-radius: 4px;top: 3px;left: 3px;right: 3px;bottom: 3px;opacity: 0;-webkit-transition-duration: 0.3s;transition-duration: 0.3s;-webkit-transition-property: opacity;transition-property: opacity;}
.thm-btn:hover:before, .thm-btn:focus:before, .thm-btn:active:before {opacity: 1;}

/*** Slider
------------------------------------------------------------------------------*/
.slider-wrapper{position:relative;overflow:hidden;width:100%;margin:0 auto; /*-background-image: url(../images/banner.jpg);--*/background-size: cover;position: relative;background-position: center top;background-repeat: no-repeat;background-attachment: fixed; min-height:380px;}
.slider-wrapper:before, .home-ref:before{width: 100%;content: " ";height: 100%;position: relative;left: 0;top: 0;display: block !important;}
.slider{position:relative;width:100%;height:700px;margin:0 auto;}
/* Slider Element Style */
.slider-wrapper p{padding:1% 3%;white-space: nowrap;text-align: center;color: #fff;}
.uc{text-transform: capitalize;font-size: 21px;font-family: 'Lora', serif;font-size: 40px;letter-spacing: 2px;font-style: italic;}
.slider-titele {text-transform: capitalize;font-weight: 800;font-size: 50px;}
.slider-text{font-size: 16px;line-height: 25px;}
.white{background:#fff; color:#333}
@media (max-width: 767px) {
    .slider{margin-top: 50px;height:225px;}
}
@media only screen and (min-width: 1000px){
    .slider{width:1000px;}
}
@media only screen and (min-width: 1440px){
    .slider{width:1440px;}
}

/*** Home page all section style
------------------------------------------------------------------------------*/
/*appointment form*/
.panel {background-color: transparent;border-radius: 0;z-index: 999;position: relative;margin-top: -25.58%;width: 100%;border: 0;margin-bottom: 0;}
.panel-heading {padding: 0;border: 0;border-radius: 0;}
.nav-tabs {border-bottom: 0;}
.nav-tabs>li {margin-bottom: 0; }
.nav-tabs > li > a {border-radius: 0;background-color: #fff;color: inherit;padding: 15px 40px;border: 0;margin-right: 0;color: #575757;}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {color: #333;cursor: default;background-color: rgba(255, 255, 255, 0.4);border: 0; font-size: 18px;border-bottom: 1px solid #ded2d2;}
.nav-tabs > li > a i {margin-right: 12px;font-size: 18px;}
.panel-body {background-color: rgba(255, 255, 255, 0.4); padding: 40px;}
.panel-margin{ margin-right: -10px;margin-left: -10px;}
.panel-padding{padding-right: 10px;padding-left: 10px;}
.center-block {float: none;margin-left: auto;margin-right: auto;}
.panel label{text-transform: uppercase;font-size: 14px; letter-spacing: 1px; color: #333; font-weight: 400;}
.input-group .icon-addon .form-control {border-radius: 0;}
.icon-addon {position: relative;}
.icon-addon .glyphicon {position: absolute;z-index: 2;right: 10px;font-size: 14px;width: 20px;text-align: center;padding: 14px 0;top: 0;margin: 0;}
.fa-chevron-down:before,.fa-credit-card:before {position: absolute;z-index: 2;right: 18px;font-size: 13px;width: 20px;text-align: center;padding: 14px 0;top: 25px;margin: 0;}
.icon-addon .form-control {line-height: 1.33;height: 42px;font-size: 14px;padding: 5px 40px 5px 8px;border-radius: 4px;box-shadow: none;border: 1px solid #fff;font-size: 13px;}
.panel-body .select-filters{height: 42px;border: 1px solid #fff;border-radius: 4px;}
.panel-body .select-filters select{height: 40px;}
.panel-body .thm-btn {margin-top: 23px;background-color: rgb(249,65,65) !important;color: #fff;}

/*calender*/
.ui-widget.ui-widget-content {border: 0;-moz-border-radius: 5px;border-radius: 5px;-moz-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.1);box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.1);padding: 10px;}
.ui-datepicker .ui-datepicker-header {background: transparent;border: 0;}
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {text-align: center;line-height: 23px;}
.ui-datepicker .ui-datepicker-prev:before {content: "\f104";display: inline-block;font: normal normal normal 14px/1 FontAwesome;font-size: inherit;}
.ui-datepicker .ui-datepicker-next:before{content: "\f105";display: inline-block;font: normal normal normal 14px/1 FontAwesome;font-size: inherit;}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {border: 0;background: transparent;font-weight: normal;color: inherit;text-align: center;padding: 5px;}
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {border: 1px solid #F81414;background: #F81414;color: #ffffff;}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #333 !important;
  font-family: 'Open Sans', sans-serif;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #333 !important;
  font-family: 'Open Sans', sans-serif;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #333 !important;
  font-family: 'Open Sans', sans-serif;
}
:-moz-placeholder { /* Firefox 18- */
  color: #333 !important;
  font-family: 'Open Sans', sans-serif;
}

.btn-top { position: absolute; right: 0; }
.booking-form .form-control { box-shadow: none; border-radius: 0; border: 2px solid rgba(0,0,0,.1); height: 40px; font-size: 13px;}
.booking-form .fa-chevron-down:before,.booking-form .fa-credit-card:before {right: 24px;top: 22px;}
.booking-form img { width: initial;}
.booking-form .panel-heading { background: #f2f2f2; padding: 10px 20px;}
.pay-methord { padding: 15px;}
.cvv {margin-top: 22px;}
.custom-control-description { font-weight: 500;font-size: 13px;}
.hotel-title { font-size: 18px; font-weight: 600;  margin: 10px 18px;}
.room-book {margin-top: 15px; background: #ffffff; padding: 20px;font-size: 13px; font-weight: 600; }
.book-price{ background: #FAFBFD;font-size: 13px; font-weight: 500; }
.noborder td{ border: none!important;}
.hotel-fac li {padding-left: 1.3em; font-size: 13px;font-weight: 400;line-height: 23px;}
.hotel-fac li:before { content: "\f05d"; font-family: FontAwesome; display: inline-block; margin-left: -1.3em;  width: 1.3em; }
.bok-card { margin-top:30px; }
.booking-form label { font-size: 14px;font-weight: 600;}
.book-price td {padding: 10px !important; }
.pop-window .btn-top,.home-booking .btn-top { display: none !important;}

/*service*/
.inner-box {position: relative;text-align: center;border: 4px solid rgba(255,255,255,.2);padding: 15px;transition-timing-function: ease-in-out;-moz-transition-timing-function: ease-in-out;-webkit-transition-timing-function: ease-in-out;-o-transition-timing-function: ease-in-out;transition-duration: .2s;-moz-transition-duration: .2s;-webkit-transition-duration: .2s;-o-transition-duration: .2s;}
.inner-box:hover {border: 4px solid #fec107;padding: 15px;}
.icon {padding-right: 15px;font-size: 45px;color: #b9b9b9;line-height: 40px;margin-bottom: 20px;}
.content-text h5 {font-size: 15px;margin-top: 0;}
.content-text p {margin: 0;color: #9e9e9e;}
.hotel-facilities li { width: 16%; display: inline-block; text-align: center;  padding-top: 13px; font-size: 14px;}
.hotel-facilities ul li i { font-size: 30px;color: #F82727; }
.fac-title h4 {  margin: 30px 15px; font-size: 18px; text-transform: uppercase; color:#fff; }
.fac-title { background:#f94141; }
.hotel-facilities { margin: 30px 0 0;}
.fac-list { background: #f2f2f2; }

/* Common style */
.grid figure {position: relative;z-index: 1;display: inline-block;overflow: hidden;width: 100%;background: #fff;text-align: center;cursor: pointer;}
.grid figure img {position: relative;display: block;min-height: 100%;opacity: 1;}
.grid figure figcaption {padding: 20px;color: #fff;font-size: 1.25em;-webkit-backface-visibility: hidden;backface-visibility: hidden;}
.grid figure figcaption::before, .grid figure figcaption::after {pointer-events: none;}
.grid figure figcaption, .grid figure a {position: absolute;top: 0;left: 0;width: 100%;height: 100%;}
figure.effect-milo img {width: -webkit-calc(100% + 100px);width: calc(100% + 100px);opacity: 1;-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;transition: opacity 0.35s, transform 0.35s;-webkit-transform: translate3d(-50px, -45px, -40px) scale(0.9);transform: translate3d(-13px, 0, 0) scale(1.12);-webkit-backface-visibility: hidden;backface-visibility: hidden;}
figure.effect-milo:hover img, .package-wiget:hover img{opacity: 0.2;-webkit-transform: translate3d(0, 0, 0) scale(1);transform: translate3d(0, 0, 0) scale(1);}
figure.effect-milo .ratting {font-size: 14px;position: absolute;left: 0;top: 0;padding: 20px;-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;transition: opacity 0.35s, transform 0.35s;}
figure.effect-milo:hover .ratting { opacity: 0;}
figure.effect-milo .position {position: absolute;left: 0;top: 0;padding: 3.4em 1.8em;}
figure.effect-milo .block {left: 0;bottom: 0;width: 100%;text-align: left;font-weight: 700;position: absolute;pointer-events: none;padding: 40px 5.050505050505% 20px;-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;transition: opacity 0.35s, transform 0.35s;background-image: -moz-linear-gradient(to bottom,rgba(0,0,0,0) 0, rgba(0,0,0,0.4) 50%, rgba(0,0,0,.7) 100%);background-image: -ms-linear-gradient(to bottom,rgba(0,0,0,0) 0, rgba(0,0,0,0.4) 50%, rgba(0,0,0,.7) 100%);background-image: -o-linear-gradient(to bottom,rgba(0,0,0,0) 0, rgba(0,0,0,0.4) 50%, rgba(0,0,0,.7) 100%);background-image: -webkit-linear-gradient(to bottom,rgba(0,0,0,0) 0, rgba(0,0,0,0.4) 50%, rgba(0,0,0,.7) 100%);background-image: -webkit-gradient(linear, center top, center bottom, from(rgba(0,0,0,0)), to(rgba(0,0,0,0.7)));background-image: linear-gradient(to bottom,rgba(0,0,0,0) 0, rgba(0,0,0,0.4) 50%, rgba(0,0,0,.7) 100%);}
figure.effect-milo:hover .block {opacity: 0;}
.block .price {float: right;}
figure.effect-milo .effect-block {margin-top: 30px;padding: 0 0 0 10px;text-align: center;opacity: 0;-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;transition: opacity 0.35s, transform 0.35s;-webkit-transform: translate3d(0, 160px, 0);transform: translate3d(0.160px, 0);}
figure.effect-milo:hover .effect-block, .package-wiget:hover .effect-block{opacity: 1;-webkit-transform: translate3d(0, 0, 0);transform: translate3d(0, 0, 0);}
.effect-block h3 {color: #000;margin: 0 0 20px;font-size: 21px;}
.effect-block span {color: #373737;display: block;font-size: 15px;letter-spacing: 0.5px;}
.effect-block h4 {font-size: 30px;color: #373737;font-weight: 700;margin: 0 0 20px;}
/*destination*/
.destination{position: relative;background-image: none;background-repeat: no-repeat;background-size: cover;padding-bottom: 50px;}
.destination::before {width: 100%;content: " ";height: 100%;position: absolute;left: 0;top: 0;display: block !important;background-color:transparent;}
.destination .thm-margin {margin-right: -10px;margin-left: -10px;}
.destination .thm-padding {padding-left: 10px;padding-right: 10px;padding-bottom: 20px;}
.destination-grid {overflow: hidden;position: relative;text-align: center;cursor: default;box-shadow: 0 5px 10px rgba(0,0,0,0.5);}
.destination-grid:hover{box-shadow: none;}
.destination-grid img {display: block;position: relative;transform: scaleY(1);transition: all .7s ease-in-out;}
.destination-grid:hover img {-webkit-transform: scale(2);transform: scale(2);opacity: 1;}
.destination-grid .mask{top: 0;left: 0;width: 100%;height: 100%;padding: 20px;position: absolute;overflow: hidden;background-color: rgba(0, 0, 0, 0.3);}
.destination-grid:hover .mask {background-color: #fff;box-shadow: none;}
.destination-grid .mask h2 {margin: 15px 0;transform: scale(0);color: #333;font-size: 25px;font-weight: 700;}
.destination-grid .mask p {margin: 0;color: #333;opacity: 0;font-size: 14px;transform: scale(0);}
.destination-grid .mask .thm-btn {margin-top: 15px;padding: 10px 20px;transform: scale(0);opacity: 0;}
.destination-grid .dest-name{position: absolute;top: 20px;right: 20px;color: #fff;text-align: right;-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;transition: opacity 0.35s, transform 0.35s;}
.destination-grid:hover .dest-name{opacity: 0;}
.destination-grid .dest-name h5{margin: 0;color: #444 !important;}
.destination-grid .dest-name h4{margin: 8px 0;font-size: 28px;font-weight: 600;text-transform: uppercase;}
.destination-grid .dest-icon {position: absolute;bottom: 0;left: 0;width: 100%;background-image: -moz-linear-gradient(to bottom,rgba(0,0,0,0) 0, rgba(0,0,0,0.4) 50%, rgba(0,0,0,.7) 100%);background-image: -ms-linear-gradient(to bottom,rgba(0,0,0,0) 0, rgba(0,0,0,0.4) 50%, rgba(0,0,0,.7) 100%);background-image: -o-linear-gradient(to bottom,rgba(0,0,0,0) 0, rgba(0,0,0,0.4) 50%, rgba(0,0,0,.7) 100%);background-image: -webkit-linear-gradient(to bottom,rgba(0,0,0,0) 0, rgba(0,0,0,0.4) 50%, rgba(0,0,0,.7) 100%);background-image: -webkit-gradient(linear, center top, center bottom, from(rgba(0,0,0,0)), to(rgba(0,0,0,0.7)));background-image: linear-gradient(to bottom,rgba(0,0,0,0) 0, rgba(0,0,0,0.4) 50%, rgba(0,0,0,.7) 100%);padding: 20px;}
.destination-grid .dest-icon i {color: #fff;font-size: 18px;padding: 0 5px;cursor: pointer;}
.destination-grid:hover .dest-icon{background-image: none;}
.destination-grid:hover .dest-icon i{color: #222;}
.destination-grid:hover h2, .destination-grid:hover p, .destination-grid:hover .thm-btn {transform: scale(1);opacity: 1;}
.dest-name h5 { font-size: 20px; text-transform: uppercase; color: #000 !important;}

/*counter*/
.counter-inner {padding: 130px 0;background-image: url(../images/counter-bg.png);background-repeat: no-repeat;background-size: cover;background-attachment: fixed;}
.count-content {color: #fff;position: relative;display: table;margin-left: auto;margin-right: auto;}
.count-icon, .count{display: table-cell;vertical-align: middle;padding-right: 15px;}
.count-icon i{font-size: 50px;line-height: 25px;}
.count .count-number{font-size: 50px;font-weight: 700;margin: 0;}
.count .count-text {font-size: 18px;letter-spacing: 1px;font-family: 'Lora', serif;font-style: italic;}


/*hotel*/
.hotel-inner, .tour-inner,.hotel-location {background: #f8f8f8;}
.hotel-inner {margin-bottom: 50px;}
.hotel-item {background: #fff;margin-bottom: 20px;position: relative;box-shadow: 4px 3px 5px 0px rgba(0, 0, 0, 0.03);}
.hotel-item:hover, .package-wiget:hover{-webkit-box-shadow: 1px 0px 5px 0px rgba(0, 0, 0, 0.2);-moz-box-shadow: 1px 0px 5px 0px rgba(0, 0, 0, 0.2);box-shadow: 1px 0px 5px 0px rgba(0, 0, 0, 0.2);}
.hotel-item .hotel-image {position: relative;z-index: 1;overflow: hidden;margin-bottom: 0;width: 35%;display: table-cell;}
.hotel-item .hotel-image:before {content: '';position: absolute;z-index: 2;top: 0;right: -15%;height: 100%;width: 30%;-webkit-transform: skew(15deg);-moz-transform: skew(15deg);-ms-transform: skew(15deg);-o-transform: skew(15deg);transform: skew(15deg);background: #fff;}
.hotel-item .hotel-image .img {position: relative;z-index: 1;}
.hotel-item .hotel-image .img:before, .hotel-item .hotel-image .img:after{content: '';z-index: 1;top: 0;height: 100%;width: 100%;position: absolute;-webkit-transition: all 0.35s;-moz-transition: all 0.35s;-o-transition: all 0.35s;transition: all 0.35s;}
.hotel-item .hotel-image .img:before {left: 0;background: #ffc107;opacity: 0;}
.hotel-item:hover .hotel-image .img:before { opacity: 0.3;}
.hotel-item .hotel-image .img:after {right: -90%;opacity: 0.2;background: #ffffff;-webkit-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 101deg) translate3d(0, -22%, 0);-moz-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 101deg) translate3d(0, -22%, 0);transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 101deg) translate3d(0, -22%, 0);}
.hotel-item:hover .hotel-image .img:after {-webkit-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 101deg) translate3d(0, 130%, 0);-moz-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 101deg) translate3d(0, 130%, 0);transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 101deg) translate3d(0, 130%, 0);}
.hotel-item .hotel-body {padding: 15px;width: 42%;display: table-cell;vertical-align: middle;}
.hotel-item .hotel-body .ratting i {font-size: 11px;}
.hotel-item .hotel-body h3 {margin: 15px 0;font-weight: 600;font-size: 16px;text-transform: uppercase;letter-spacing: 1px;}
.hotel-item .hotel-body p {color: #444;font-size: 13px;line-height: 26px;}
.hotel-item .hotel-body .free-service i {font-size: 20px;margin-right: 10px;color: #444;cursor: pointer;}
.hotel-right {width: 23%;text-align: center;background: #fff;padding: 15px;display: table-cell;vertical-align: middle;border-left: 1px solid #ddd;}
.hotel-person {font-size: 14px;line-height: 18px;letter-spacing: 0px;}
.hotel-person span {display: block;font-size: 30px;margin: 15px 0px 13px 2px;font-weight: 700;}
.hotel-item .thm-btn{margin-top: 20px;}
.free-service { margin: 15px 0;  }

/****** image hover ******/
.image-hover {position: relative;width: 100%;display: inline-block;overflow: hidden;}
/*** effect zoom in ***/
.image-hover img {transition: all .2s ease-in-out;-webkit-transition: all .2s ease-in-out;-moz-transition: all .2s ease-in-out;-ms-transition: all .2s ease-in-out;-o-transition: all .2s ease-in-out;}
.blog-content:hover img {transform: scale(1.1);-webkit-transform: scale(1.1);-moz-transform: scale(1.1);-ms-transform: scale(1.1);-o-transform: scale(1.1)}


/*** Hotel page
------------------------------------------------------------------------------*/
.tools-ber{background-color: #fff;padding: 10px;margin-bottom: 20px;position: relative;}
.custom-search .form-control{border-radius: 0;box-shadow: none;border-color: #ddd;}
.custom-search .hotel-search{border: 0;background: none;/** belows styles are working good */padding: 2px 5px;margin-top: 2px;position: relative;left: -28px;/* IE7-8 doesn't have border-radius, so don't indent the padding */margin-bottom: 0;-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;color:#ddd;}
.custom-search .form-control:focus + button {z-index: 3;   }
/*select filters*/
.select-filters {width: 100%;overflow: hidden;height: 34px;background: url(../images/down-arrow.png) right center no-repeat #fff;margin: 0;padding: 0;border: 1px solid #ddd;display: block;}
.select-filters select {background: 0 0;width: 95%;padding: 7px 5px 5px 10px;border: 0;border-radius: 0;height: 31px;margin: 0;font-size: 13px;color: #333;font-weight: 400;-moz-appearance: window;-webkit-appearance: none;cursor: pointer;}
/*filters button*/
.filters-btn{background-color: #fff;border: 1px solid #ddd;padding: 4px 8px;color: #888;display: inline-block;}
.filters-btn i{color: #000;font-size: 16px;}
.filters-btn:hover{border-color:#fec107;}
/*holel map*/
.hotel-inner #map, .tour-inner #map{height: 400px;margin-bottom: 20px; }
.hotel-list-content .hotel-item .hotel-body .ratting i {font-size: 13px;}
/*grid item*/
.grid-margin{margin-left: -10px;margin-right: -10px;}
.grid-item{margin-bottom: 20px;padding-right: 10px;padding-left: 10px;}
.grid-item-inner{position: relative;overflow: hidden;color: #fff;}
.grid-content{background-color: rgba(0,0,0,0.3);position:absolute;top:0;left:0;width:100%;height:100%;pointer-events: none;}
.grid-text{position:absolute;bottom:0;left:0;padding: 15px;width:100%;}
.place-name {display: inline-block;padding: 5px 7px;font-size: 12px;line-height: 10px;background-color: #f94141;}
.travel-times h4{font-size:16px;color: #fff;}
.travel-times span {position: relative;top: 10px;}
.grid-price{float:right;padding-top: 22px;font-weight: 700;padding: 15px;display:inline-block;transform:scale(0);-webkit-transform:scale(0);-moz-transform:scale(0);-o-transform:scale(0);transition:all 0.3s ease-in-out;-webkit-transition:all 0.3s ease-in-out;-moz-transition:all 0.3s ease-in-out;-o-transition:all 0.3s ease-in-out;}
.grid-price  span{font-size:28px;color: #fec107;}
.grid-price  span sub{font-size:14px;position: relative;top: 0px;}
.grid-item-inner:hover .grid-price{transform:scale(1);-webkit-transform:scale(1);-moz-transform:scale(1);-o-transform:scale(1);}
/*pagination*/
.pagination-inner {position: relative;margin-top: 60px;}
.pagination-inner .pager {margin: 30px 0;}
.pagination-inner .pager li > a{padding: 8px 20px;border: 2px solid #f94141;border-radius: 20px;color: #fff;font-weight: 700;}
.pagination-inner .pager li > a:hover{background-color: #fff !important;color: #fff !important;}
.pagination-inner .pagination{top: -45px;left: 50%;margin: 0;position: absolute;-webkit-transform: translateX(-50%);-moz-transform: translateX(-50%);-ms-transform: translateX(-50%);-o-transform: translateX(-50%);transform: translateX(-50%); }
.pagination > li > a{padding: 8px 14px;margin-left: 5px;background-color: transparent;border: 0;font-weight: 700;border-radius: 4px;}
.pagination > li > a:hover{color: #fff !important;}
.pagination-inner .pagination > .active > a {z-index: 3;color: #fff !important;cursor: default;border-color: #fec107;}


/*** Hotels details page
------------------------------------------------------------------------------*/
.hotels-details-inner p, .tour-details-inner p, .hotels-details-inner h3, .tour-details-inner h3{margin-bottom: 20px;}
#sync1 .item, #sync2 .item {margin: 5px;}
ul.list-ok li {position: relative;padding-left: 25px;line-height: 25px;color: #7d7d7d;}
ul.list-ok li::before {font-style: normal;font-weight: 700;font-family: icon_set_1;font-size: 14px;content: "\2713";position: absolute;left: 0;top: 0;}
.hotel-review{position: relative;}
.hotel-review .hotel-review-ratting{position: absolute;top: 0;right: 0;padding: 12px 20px;background-color: #fff;font-size: 13px;}
.review-text h4{margin: 0 0 20px;}
.review-text ul li {padding: 2px 0;color: #797986;}
.review-text ul li i{margin-right: 10px;font-size: 21px;vertical-align: middle;}
.booking-form .select-filters, .comment-form .select-filters {height: 40px;border: 2px solid rgba(0,0,0,.1);}
.booking-form .select-filters select, .comment-form .select-filters select{padding: 4px 5px 5px 10px;height: 40px;font-size: 13px;font-weight: 500;}
.booking-form .icon-addon .glyphicon {padding: 18px 0;}
.booking-form .icon-addon .form-control::-moz-placeholder {color: #999;opacity: 1;}
.booking-form .icon-addon .form-control:-ms-input-placeholder {color: #999;}
.booking-form .icon-addon .form-control::-webkit-input-placeholder {color: #999;}
.btn-pm{background-color: #fff;border: 2px solid rgba(0,0,0,.1);border-radius: 0;height: 50px;padding: 13px 12px;}
.input-group-btn:first-child .btn.btn-pm{margin-right: -2px;}
.input-group-btn:last-child .btn.btn-pm{margin-left: -2px;}



/***Responsive
------------------------------------------------------------------------------*/
@media(max-width:767px){
    #page-content {margin-bottom: 0;}
    .section-title h1 {font-size: 24px;}
    .section-title p {font-size: 13px;}
    .header-content-inner h1 {margin: 0 0 20px;font-size: 21px;}
    .panel { margin-top: 50px;}
    .nav-tabs > li > a {padding: 15px 30px;}
    .panel-body {padding: 20px;}
    .panel-padding {margin-bottom: 15px;}
    .panel-body .thm-btn {margin-top: 25px;width: 100%;}
    .owl-theme .owl-controls .owl-buttons div {position: relative;top: 0;font-size: 18px;}
    .owl-theme .owl-controls .owl-buttons .owl-prev {left: 0;}
    .owl-theme .owl-controls .owl-buttons .owl-next {right: 0;}
    .destination-grid .mask h2 {margin: 15px 0;}
    .hotel-item .hotel-image {width: 100%;display: inline-block;}
    .hotel-item .hotel-image::before {display: none;}
    .hotel-item .hotel-image img{width: 100%;}
    .hotel-item .hotel-body {width: 100%;display: block;}
    .hotel-right {text-align: left;border-left: 0;padding-top: 0;}
    .hotel-person span {margin: 0;display: inline-block;}
    .count-content {margin-left: 17%;margin-bottom: 15px;}
    .get-offer h2 {margin-bottom: 30px;}
    .navbar-default.tour-nav{display: none;}
    .experience-title h3 {font-size: 21px;}
    #experience p {font-size: 13px;}
    .ac-items {display: block;}
    .ac-items .content {padding-left: 0;}
    .active-box{padding: 15px;}
    .active-box i {left: 0;}
    .middle-content img{margin-bottom: 50px;}
    .panel-body { background-color: rgba(134, 104, 104, 0.4);}
    .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover { background-color: rgba(134, 104, 104, 0.4);}
    .hotel-facilities li { width: 45%;}
    .fac-title {  display: inline-block; width: 100%; }
    .pop-window .btn-top { display: none;}
}
@media (min-width: 768px){
    .header-content {padding: 0;height: 80vh;}
    .panel { margin-top: -32.58%;}
    .header-content-inner{max-width: none;margin: 0;position: absolute;top: 50%;transform: translateY(-50%);width: 100%;}
    .header-content-inner h1:before, .header-content-inner h1:after{display: inline-block;width: 50px;height: 1px;content: '';vertical-align: middle;background: rgba(255,255,255,.5);}
    .header-content-inner h1:before {margin-right: 10px;}
    .header-content-inner h1:after {margin-left: 10px;}
    .header-content-inner p{font-size: 15px;}
    .popular-inner .thm-margin, .blog-inner .thm-margin{margin-left: -10px; margin-right: -10px}
    #popular-slide .item, #blog-slide .item{padding-left: 10px;padding-right: 10px;}
    .region:before {content: '';position: absolute;z-index: 2;top: 0;right: -15%;height: 100%;width: 25%;-webkit-transform: skew(30deg);-moz-transform: skew(30deg);-ms-transform: skew(30deg);-o-transform: skew(30deg);transform: skew(30deg);background: #fff;}
}
@media(min-width:768px) and (max-width:991px){
    #page-content {margin-bottom: 453px;}
    .header-content {padding: 0;height: 40vh;}
    .panel-body .thm-btn {padding: 12px 27px;}
    .ac-items {display: block;}
    .checkbox-star, .facility, .help-widget, .price-Pips{ padding:20px 15px;}
    #map.destination-map {height: 40vh;}
    .hotel-item .hotel-image::before {display: none;}
}
@media(min-width:768px) and (max-width:1199px){
    .slider {height: 550px;}
    .destination-grid .mask {padding: 15px;}
    .destination-grid .mask h2 {margin: 0px 0 10px;font-size: 21px;}
    .destination-grid .mask p {font-size: 12px;}
    .destination-grid .mask .thm-btn {padding: 8px 18px;}
    .effect-block h3 {font-size: 17px;}
    .owl-theme .owl-controls .owl-buttons .owl-prev {left: 0;}
    .owl-theme .owl-controls .owl-buttons .owl-next {right: 0;}
}
@media(min-width:991px) and (max-width:1199px){
    .hotel-item .hotel-image::before {display: none;}
    .hotel-item .hotel-body h3 {font-size: 16px;}
    .hotel-item .hotel-body p {font-size: 12px;line-height: 18px;}
    .hotel-item .hotel-body .free-service i {font-size: 14px;}
}